<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	  
	<!-- css file import head태그 안에 추가  -->
	<head>
		<!-- This Page CSS -->
	</head>
	
	<!-- This Page breadcrumbTitle -->
	<th:block layout:fragment="customBreadcrumbTitle">
		<h4 class="page-title text-truncate text-dark font-weight-medium mb-1">공지사항</h4>
	</th:block>
	
	<!-- This Page breadcrumb -->
	<th:block layout:fragment="customBreadcrumb">	
		<li class="breadcrumb-item">
			<a th:href="@{/}" class="text-muted">회원관리</a>
		</li>
		<li class="breadcrumb-item text-muted active" aria-current="page">회원목록</li>
	</th:block>

	<!-- Start Page Content -->
	<th:block layout:fragment="customContent">
      <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">공지사항코드</th>
                                            <th scope="col">가맹점 코드</th>
                                            <th scope="col">등록자 아이디</th>
                                            <th scope="col">공지사항 제목</th>
                                            <th scope="col">공지사항 내용</th>
                                            <th scope="col">공지사항 작성일자</th>
                                            <th scope="col">수정</th>
                                            <th scope="col">삭제</th>
                                        </tr>
                                    </thead>
                                                
							<tbody id="tbody">
                                          <tr th:if="${getNoticeBoardList != null and not #lists.isEmpty(getNoticeBoardList)}"
												th:each="l : ${getNoticeBoardList}">
												<td th:text="${l.noticeBoardCode}"></td>
												<td th:text="${l.branchCode}"></td>
												<td th:text="${l.memberId}"></td>
												<td th:text="${l.noticeBoardTitle}"></td>
												<td th:text="${l.noticeBoardContent}"></td>
												<td th:text="${l.noticeBoardRegDate}"></td>
						<td>
						<a th:href>수정</a>
					</td>

						<td>
						<a th:href>삭제</a>
					</td>
                                        </tr>
                                        <tr th:unless="${getNoticeBoardList != null and not #lists.isEmpty(getNoticeBoardList)}">
											<td colspan="8">등록된 회원의 정보가 없습니다.</td>
										</tr>
                                    </tbody>
                                    </table>
</th:block>
</html>









