<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	  
	<!-- css file import head태그 안에 추가  -->
	<head>
		<!-- This Page CSS -->
	</head>
	
	<!-- This Page breadcrumbTitle -->
	<th:block layout:fragment="customBreadcrumbTitle">
		<h4 class="page-title text-truncate text-dark font-weight-medium mb-1">폐교 관리</h4>
	</th:block>
	
	<!-- This Page breadcrumb -->
	<th:block layout:fragment="customBreadcrumb">	
		<li class="breadcrumb-item">
			<a th:href="@{/}" class="text-muted">폐교</a>
		</li>
		<li class="breadcrumb-item text-muted active" th:text="${page}">폐교 목록 조회</li>
	</th:block>

	<!-- Start Page Content -->
	<th:block layout:fragment="customContent">
       	<div class="row">
       		<div class="col-6">폐교 1</div>
       		<div class="col-6">폐교 2</div>
       	</div>
	</th:block>
	<th:block layout:fragment="customContent">
		<form id="getCloseSchool" method="post" th:action="@{/close_school/close_school_get}">		
			<table class="table">
				<tbody>
					<tr th:if="${getCloseSchool != null and not #lists.isEmpty(getCloseSchool)}"
						th:each="l : ${getCloseSchool}">
						<td th:text="${l.closeSchoolCode}"></td>
						<td th:text="${l.memberId}"></td>
						<td th:text="${l.closeSchoolImg}"></td>
						<td th:text="${l.closeSchoolArea}"></td>
						<td th:text="${l.coordinate}"></td>
						<td th:text="${l.branchCurrentSituation}"></td>
						<td th:text="${l.purchaseAmount}"></td>
						<td th:text="${l.systemRegistrationDate}"></td>
						<td th:text="${l.lastModifiedDate}"></td>
						<td th:text="${l.viewMapImg}"></td>
					<tr th:unless="${getCloseSchool != null and not #lists.isEmpty(getCloseSchool)}">
						<td colspan="9">등록된 폐교가 없습니다.</td>
					</tr>
				</tbody>
			</table>		
		</form>
	</th:block>
</html>









