<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default2}">
	  
	<!-- css file import head태그 안에 추가  -->
	<head>
		 <title th:text="${title}">페이지 타이틀</title>
		<!-- This Page CSS -->
		<style>
			.table-bordered, .table-bordered td, .table-bordered th {
				border-color: #bac6d0 !important;
			}
			.table-bordered thead{
				background-color: #dfe4fa !important;
				border-color: #bac6d0;
			}
			.border{
				border-color: #bac6d0 !important;
			}
			
		</style>
	</head>
		<!-- This Page breadcrumbTitle -->
	<th:block layout:fragment="customBreadcrumbTitle">
		  <h4 class="page-title text-truncate text-dark font-weight-medium mb-3 h2" th:text="${title}">Default Title</h4>
	</th:block>
	
	<!-- This Page breadcrumb -->
	<th:block layout:fragment="customBreadcrumb">
		<li class="breadcrumb-item">
			<a th:href="@{#}" th:text="${title}"></a>
		</li>
	</th:block>
	<!-- Start Page Content -->
	<th:block layout:fragment="customContent">
		<div class="card mb-4">
		    <div class="card-body">
		      <div class="row">
		        <div class="col-lg-10">
		     
		          <div class="row">
		            <div class="col-lg-12">
		              	<div class="search">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label class="form-label card-title font-weight-bolder">검색구분</label>
                                        <div class="input-group">
                                            <select id="searchKey" class="form-control text-center">
-->                                                <option value="member_id">아이디</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="form-label card-title font-weight-bolder">검색</label>
                                        <div class="input-group">
                                            <input id="searchValue" placeholder="검색어를 작성해주세요" type="text" class="form-control">
                                        </div>
				            </div>
				        </div>
		            </div>
		            </div>
		            <div class="col-lg-6">
		              <label class="form-label card-title font-weight-bolder">로그인</label>
		              <div class="row">
		                <div class="col-12">
		                	<div class="form-group">
								<input type="datetime-local" class="form-control" value="2024-01-21T00:00:00">
							</div>
		                </div>
		              </div>
		            </div>
		            <div class="col-lg-6">
		              <label class="form-label card-title font-weight-bolder">로그아웃</label>
		              <div class="row">
		                <div class="col-12">
		                	<div class="form-group">
								<input type="datetime-local" class="form-control" value="2024-01-22T22:33:00">
							</div>
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>
		        <div class="col-lg-2 align-self-center">
		          <div class="row justify-content-center">
		            <div class="col-8">
		              <button class="btn btn-primary bg col-12 justify-content-center font-weight-bold display-2" type="button" style="height: 120px;">
		                <i class="fas fa-search mr-20" style="font-size: 24px;">검색</i>
		              </button>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
	      
		    	<table class="table table-bordered table-hover text-center search-result">
                  <thead class="h5 text-dark">
                                        <tr>
                                            <th scope="col">회원 로그인코드</th>
                                            <th scope="col">회원 아이디</th>
                                            <th scope="col">회원 로그인</th>
                                            <th scope="col">회원 로그아웃</th>
                                        </tr>
                                    </thead>
                  <tbody id="tbody" class="border text-dark">
                                          <tr th:if="${loginList != null and not #lists.isEmpty(loginList)}"
												th:each="l : ${loginList}">
												<td th:text="${l.loginCode}"></td>
												<td th:text="${l.memberId}"></td>
												<td th:text="${l.logDate}"></td>
												<td th:text="${l.logoutDate}"></td>
				         </tr>
                                        <tr th:unless="${loginList != null and not #lists.isEmpty(loginList)}">
											<td colspan="12">등록된 회원의 정보가 없습니다.</td>
										</tr>
                                    </tbody>
                                </table>
                                	</th:block>
</html>









