<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{branch/layout/default}">
	  
	<!-- css file import head태그 안에 추가  -->
	<head>
		<!-- This Page CSS -->
	</head>
	
	<!-- This Page breadcrumbTitle -->
	<th:block layout:fragment="customBreadcrumbTitle">
		<h4 class="page-title text-truncate text-dark font-weight-medium mb-1">가맹점 페이지</h4>
	</th:block>
	
	<!-- This Page breadcrumb -->
	<th:block layout:fragment="customBreadcrumb">	
		<li class="breadcrumb-item">
			<a th:href="@{/}" class="text-muted">회원관리</a>
		</li>
		<li class="breadcrumb-item text-muted active" aria-current="page">회원목록</li>
	</th:block>

	<!-- Start Page Content -->
	<th:block layout:fragment="customContent">
       	<div>
      		<a th:href="@{branch/closeSchool/getCloseSchool}">폐교목록 조회</a>
      	</div>
      	<div>
      		<a th:href="@{branch/closeSchool/getCloseSchoolImg}">폐교이미지 조회</a>
      	</div>
      	<div>
      		<a th:href="@{branch/closeSchoolComparisonBranch/getCloseSchoolComparisonBranch}">폐교목록 조회</a>
      	</div>
      	<div>
      		<a th:href="@{branch/finalTotalPrice/getFinalTotalPrice}">최종 결제 금액 조회</a>
      	</div>
      	<div>
      		<a th:href="@{branch/finalTotalPrice/calcFinalTotalPriceRoyality}">건별 본사 로열티 지급예정 금액</a>
      	</div>
      	<div>
      		<a th:href="@{branch/finalTotalPrice/calcFinalTotalPriceDueTo}">최종 결제 예정 금액</a>
       	</div>
       	
	</th:block>
</html>









