<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	  
	<!-- css file import head태그 안에 추가  -->
	<head>
		<!-- This Page CSS -->
	</head>
	
	<!-- This Page breadcrumbTitle -->
	<th:block layout:fragment="customBreadcrumbTitle">
		<h4 class="page-title text-truncate text-dark font-weight-medium mb-1">리뷰관리</h4>
	</th:block>
	
	<!-- This Page breadcrumb -->
	<th:block layout:fragment="customBreadcrumb">	
		<li class="breadcrumb-item">
			<a th:href="@{/}" class="text-muted">리뷰 카테고리</a>
		</li>
		<li class="breadcrumb-item">
			<a th:href="@{#}" class="text-muted">등록하기</a>
		</li>
	</th:block>

	<!-- Start Page Content -->
	<th:block layout:fragment="customContent">
	        <div class="form-group mb-4">
	            <label for="exampleFormControlSelect1">카테고리 선택</label>
	            <select class="form-control" id="exampleFormControlSelect1">
	                <option>시설 카테고리</option>
	                <option>분위기 카테고리</option>
	            </select>
    	    </div> 
 	    	<table class="table table-bordered">
		        <thead>
		            <tr>
		                <th scope="col">카테고리 내용</th>
		                <th scope="col">등록자 아이디</th>
		                <th scope="col">시스템 등록일자</th>                                                                                                                                             
		            </tr>
	            </thead>
	            <tbody>
		            <tr>
		            	<td>
		            		<input type="text" id="moodCategoryContext" name="moodCategoryContext" />
		            	</td>
		            	<td>
		            		<input type="text" id="memberId" name="memberId" readonly="readonly" />
		            	</td>
		            	<td>
		            		<input type="text" id="moodRegisterDate" name="moodRegisterDate" readonly="readonly" />
		            	</td>
		            </tr>
		        </tbody>  
	   		</table>
		<div style="float: right;">
			<a class="btn waves-effect waves-light btn-dark" th:href="@{/admin/review/getReviewCategory}">카테고리 등록</a>
		</div>                  
	</th:block>
</html>
