<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	  
	<!-- css file import head태그 안에 추가  -->
	<head>
		<!-- This Page CSS -->
	</head>
	
	<!-- This Page breadcrumbTitle -->
	<th:block layout:fragment="customBreadcrumbTitle">
		<h4 class="page-title text-truncate text-dark font-weight-medium mb-1">리뷰관리</h4>
	</th:block>
	
	<!-- This Page breadcrumb -->
	<th:block layout:fragment="customBreadcrumb">	
		<li class="breadcrumb-item">
			<a th:href="@{/}" class="text-muted">리뷰 카테고리</a>
		</li>
		<li class="breadcrumb-item">
			<a th:href="@{#}" class="text-muted">조회하기</a>
		</li>
	</th:block>
	
	<!-- Start Page Content -->
	<th:block layout:fragment="customContent">
	        <div class="form-group mb-4">
	            <label for="exampleFormControlSelect1">카테고리 선택</label>
	            <select class="form-control" id="exampleFormControlSelect1">
	                <option>분위기 카테고리</option>
	                <option>시설 카테고리</option>
	            </select>
    	    </div> 		
			<table class="table">
			<thead>
	            <tr>
	                <th scope="col">카테고리 코드</th>
	                <th scope="col">등록자 아이디</th>
	                <th scope="col">시스템 등록일자</th>
	                <th scope="col">카테고리 내용</th>                                                                                                                                             
	            </tr>
	         </thead>
	         <tbody>
	            <tr th:if="${AdminMoodReviewCategory != null and not #lists.isEmpty(AdminMoodReviewCategory)}"
	            	th:each="l : ${AdminMoodReviewCategory}">
	                <td th:text="${l.moodCode}"></td>
	                <td th:text="${l.memberId}"></td>
	                <td th:text="${l.moodRegisterDate}"></td>
	                <td th:text="${l.moodCategoryContext}"></td>
	                <td class="addList">
	                	<a th:href="@{/admin/review/modifyReviewCategory}">수정</a>
	                </td>
	                <td>
	                	<a th:href="@{/admin/review/removeReviewCategory}">삭제</a>
	                </td>
	            </tr>
				<tr th:unless="${AdminFacilityReviewCategory != null and not #lists.isEmpty(AdminFacilityReviewCategory)}">
					<td colspan="9">등록된 카테고리가 없습니다.</td>
				</tr>
	            <tr th:if="${AdminFacilityReviewCategory != null and not #lists.isEmpty(AdminFacilityReviewCategory)}"
	            	th:each="l : ${AdminFacilityReviewCategory}">
	                <td th:text="${l.facilityCode}"></td>
	                <td th:text="${l.memberId}"></td>
	                <td th:text="${l.facilityRegisterDate}"></td>
	                <td th:text="${l.facilityCategoryContext}"></td>
	                <td class="addList">
	                	<a th:href="@{/admin/review/modifyReviewCategory}">수정</a>
	                </td>
	                <td>
	                	<a th:href="@{/admin/review/removeReviewCategory}">삭제</a>
	                </td>
	            </tr>
				<tr th:unless="${AdminFacilityReviewCategory != null and not #lists.isEmpty(AdminFacilityReviewCategory)}">
					<td colspan="9">등록된 카테고리가 없습니다.</td>
				</tr>                            				                            
              </tbody>
            </table>
	</th:block>
</html>	         





