<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	<!-- css file import head태그 안에 추가  -->
	<head>
	</head>
	
	<!-- This Page breadcrumbTitle -->
	<th:block layout:fragment="customBreadcrumbTitle">
		<h4 class="page-title text-truncate text-dark font-weight-medium mb-1">시즌추가금목록조회</h4>
	</th:block>
	
	<!-- This Page breadcrumb -->
	<th:block layout:fragment="customBreadcrumb">	
		<li class="breadcrumb-item">
			<a th:href="@{/admin/surcharge/surchargeList}" class="text-muted">시즌추가금</a>
		</li>
		<li class="breadcrumb-item">
			<a th:href="@{/admin/surcharge/surchargeList}" class="text-muted">시즌추가금목록조회</a>
		</li>
		<li class="breadcrumb-item text-muted active" aria-current="page" >가맹점명</li>
	</th:block>

	<!-- Start Page Content -->
	<th:block layout:fragment="customContent">
		<table class="table table-bordered table-hover text-center search-result">
	        <thead class="h5 text-dark">
	            <tr>
	                <th class="font-weight-bolder">비수기/성수기</th>
	                <th class="font-weight-bolder">요일</th>
	                <th class="font-weight-bolder">추가금</th>
	                <th class="font-weight-bolder">등록일자</th>
	                <th class="font-weight-bolder">등록자아이디</th>
	                <th class="font-weight-bolder">수정</th>
	            </tr>
	        </thead>
	        <tbody class="border text-dark">
	            <tr th:if="${branchBySurchargeList != null and not #lists.isEmpty(branchBySurchargeList)}"
	            	th:each="b : ${branchBySurchargeList}">
	                <td th:text="${b.lowseasonPeakseason}"></td>
	                <td th:text="${b.dayOfTheWeek}"></td>
	                <td th:text="${b.additionalAmount}"></td>
	                <td th:text="${b.registerDate}"></td>
	                <td th:text="${b.surchargeRegistrantId}"></td>
	                <td class="addList">
	    				<a th:href="@{/admin/surcharge/modifySurchargeList}">수정</a>
	                </td>
	            </tr>
	            <tr th:unless="${branchBySurchargeList != null and not #lists.isEmpty(branchBySurchargeList)}">
					<td colspan="12">조회된 리스트가 없습니다</td>
				</tr>
	        </tbody>
	     </table>
		 <div style="float: right;">
		 	<a id="addBtn" class="btn waves-effect waves-light btn-dark" th:href="@{/admin/surcharge/addSurchargeList}">등록</a>
	     </div>
	  </th:block>
</html>