<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	<!-- css file import head태그 안에 추가  -->
	<head>
	</head>
	
	<!-- This Page breadcrumbTitle -->
	<th:block layout:fragment="customBreadcrumbTitle">
		<h4 class="page-title text-truncate text-dark font-weight-medium mb-1"></h4>
	</th:block>
	
	<!-- This Page breadcrumb -->
	<th:block layout:fragment="customBreadcrumb">	
		<li class="breadcrumb-item">
			<a th:href="@{/}" class="text-muted">시즌추가금</a>
		</li>
		<li class="breadcrumb-item">
			<a th:href="@{/admin/room/surchargeList}" class="text-muted">시즌추가금목록조회</a>
		</li>
		<li class="breadcrumb-item text-muted active" aria-current="page" >가맹점명</li>
	</th:block>

	<!-- Start Page Content -->
	<th:block layout:fragment="customContent">
		<table class="table">
	        <thead>
	            <tr>
	                <th scope="col">비수기/성수기/공휴일</th>
	                <th scope="col">요일</th>
	                <th scope="col">등록일자</th>
	                <th scope="col">등록자아이디</th>
	                <th scope="col">수정</th>
	                <th scope="col">삭제</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr th:if="${adminSurchargeList != null and not #lists.isEmpty(adminSurchargeList)}"
	            	th:each="s : ${adminSurchargeList}">
	                <th th:text="${s.lowseasonPeakseason}"></th>
	                <th th:text="${s.dayOfTheWeek}"></th>
	                <th th:text="${s.registerDate}"></th>
	                <th th:text="${s.registrantId}"></th>
	                <td class="addList">
	    				<a th:href="@{/admin/room/removeSurcharge}">수정</a>
	                </td>
	                <td class="addList">
	    				<a th:href="@{/admin/room/removeSurcharge}">삭제</a>
	                </td>
	            </tr>
	            <tr th:unless="${adminSurchargeList != null and not #lists.isEmpty(adminSurchargeList)}">
					<td colspan="9">등록된 정보가 없습니다.</td>
				</tr>
	        </tbody>
	     </table>
	     <div style="float: right;">
		 	<a class="btn waves-effect waves-light btn-dark" th:href="@{/admin/room/addSurchargeList}">등록</a>
	     </div>
	  </th:block>
</html>