<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{branch/layout/default}">
	  
	<!-- css file import head태그 안에 추가  -->
	<head>
		<!-- This Page CSS -->
		<style>
			.table-bordered, .table-bordered td, .table-bordered th {
				border-color: #bac6d0 !important;
			}
			.table-bordered thead{
				background-color: #dfe4fa !important;
				border-color: #bac6d0;
			}
			.border{
				border-color: #bac6d0 !important;
			}
			
		</style>
	</head>
	
	<!-- This Page breadcrumbTitle -->
	<th:block layout:fragment="customBreadcrumbTitle">
		<h4 class="page-title text-truncate text-dark font-weight-medium mb-3 h2">적립금관리</h4>
	</th:block>
	
	<!-- This Page breadcrumb -->
	<th:block layout:fragment="customBreadcrumb">	
		<li class="breadcrumb-item">
			<a th:href="@{#}" class="text-muted h4">리뷰적립금 기준</a>
		</li>
		<li class="breadcrumb-item text-muted active h4" aria-current="page">조회하기</li>
	</th:block>

	<!-- Start Page Content -->
	<th:block layout:fragment="customContent">
       	 
		  <div class="card mb-4">
		    <div class="card-body">
		    	<div class="row mb-3">
		    		<div class="col-sm-3 d-flex align-items-end">		    		
				    	<h5 class="card-title">
					    	[ 전체 &nbsp;
					    	<label id="listCnt" class="text-info mb-0" th:text="${#lists.size(reviewMileageCriteria)}"></label> 건
					    	&nbsp;|&nbsp;  
					    	<label id="pageCnt" class="text-info mb-0" th:text="${#lists.size(reviewMileageCriteria)}"></label> 건
					    	]
				    	</h5>
		    		</div>	    	
			    	<div class="col-sm-9">
			    		<div class="btn-list text-right">
                           <a type="button" class="btn btn-outline-success" id="addBtn" th:href="@{/branch/mileage/addReviewMileageCriteria}"><i class="fas fas fa-pencil-alt"></i>
                               등록</a>
                           <button type="button" class="btn btn-outline-warning" id="modifyBtn" th:href="@{/branch/mileage/modifyReviewMileageCriteria}"><i class="fas fa-undo"></i>
                               수정</button>
                           <button type="button" class="btn btn-outline-danger" id="delBtn" th:href="@{/branch/mileage/removeReviewMileageCriteria}"><i class="fas fa-trash-alt"></i>
                               삭제</button>
                       </div>
			    	</div>
		    	</div>
		    	
		    	<table class="table table-bordered table-hover text-center search-result">
                  <thead class="h5 text-dark">
                      <tr>
                      	  <th style="width: 5%;">
                            <input type="checkbox" id="allCheck">
                      	  </th>
                          <th class="font-weight-bolder">리뷰적립금 코드</th>
                          <th class="font-weight-bolder">리뷰적립금 종류</th>
                          <th class="font-weight-bolder">적립금액</th>
                          <th class="font-weight-bolder">등록자 아이디</th>
                          <th class="font-weight-bolder">리뷰적립금기준 등록일자</th>
                      </tr>
                  </thead>
                  <tbody class="border text-dark">
		              <tr th:if="${reviewMileageCriteria != null and not #lists.isEmpty(reviewMileageCriteria)}"
		            	  th:each="l : ${reviewMileageCriteria}">
	                 	<td style="width: 5%;">
	                    	<input type="checkbox" name="check" class="check" th:data-mileage-criteria-code="${l.mileageCriteriaCode}">
	                  	</td>			              
		                <td th:text="${l.mileageCriteriaCode}"></td>
		                <td th:text="${l.mileageKind}"></td>
		                <td th:text="${l.mileageAmount}"></td>
		                <td th:text="${l.memberId}"></td>
		                <td th:text="${l.mileageCriteriaRegisterDate}"></td>
                      </tr>
                  </tbody>
                </table>
			    <div class="row justify-content-center mt-5">
			    	<div class="col-10">			    	
				    	<ul class="pagination justify-content-center">
		                   <li class="page-item disabled">
		                       <a class="page-link" href="#" tabindex="-1">Previous</a>
		                   </li>
		                   <li class="page-item active"><a class="page-link" href="#">1</a></li>
		                   <li class="page-item"><a class="page-link" href="#">2</a></li>
		                   <li class="page-item"><a class="page-link" href="#">3</a></li>
		                   <li class="page-item"><a class="page-link" href="#">4</a></li>
		                   <li class="page-item"><a class="page-link" href="#">5</a></li>
		                   <li class="page-item"><a class="page-link" href="#">6</a></li>
		                   <li class="page-item"><a class="page-link" href="#">7</a></li>
		                   <li class="page-item"><a class="page-link" href="#">8</a></li>
		                   <li class="page-item"><a class="page-link" href="#">9</a></li>
		                   <li class="page-item"><a class="page-link" href="#">10</a></li>
		                   <li class="page-item">
		                       <a class="page-link" href="#">Next</a>
		                   </li>
		               </ul>
			    	</div>
			    </div>
		    </div>
		  </div>
	</th:block>
	
	
	<th:block layout:fragment="customJs">
		<script th:inline="javascript">		
		
			
			// 전체체크
			$(document).on('click', '#allCheck', function(){
				const isChecked = $(this).prop('checked');
				$('.check').prop('checked', isChecked);
			});	
			
			// 수정버튼
			$(document).on('click', '#modifyBtn', function(){
				const checkLength = $('.check:checked').length;
				if(checkLength != 1) {
					alert('한개만 선택해주세요.')
					return;
				}
				const mileageCriteriaCode = $('.check:checked').data('mileageCriteriaCode')
				location.href = `/branch/mileage/modifyReviewMileageCriteria?mileageCriteriaCode=${mileageCriteriaCode}`;								
			});
			
			
			
				
			
		</script>
	</th:block>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</html>