<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	<!-- css file import head태그 안에 추가  -->
	<head>
	</head>
	
	<!-- This Page breadcrumbTitle -->
	<th:block layout:fragment="customBreadcrumbTitle">
		<h4 class="page-title text-truncate text-dark font-weight-medium mb-1"></h4>
	</th:block>
	
	<!-- This Page breadcrumb -->
	<th:block layout:fragment="customBreadcrumb">	
		<li class="breadcrumb-item">
			<a th:href="@{/}" class="text-muted">고객 예약</a>
		</li>
		<li class="breadcrumb-item">
			<a th:href="@{/admin/reservation/reservationUser}" class="text-muted">객실예약정보조회</a>
		</li>
	</th:block>

	<!-- Start Page Content -->
	<th:block layout:fragment="customContent">
		<table class="table">
	        <thead>
	            <tr>
	                <th>예약자아이디</th>
	                <th>가맹점</th>
	                <th>객실</th>
	                <th>체크인 날짜</th>
	                <th>체크아웃 날짜</th>
	                <th>숙박일 수</th>
	                <th>예약등록날짜</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr th:if="${reservationUserList != null and not #lists.isEmpty(reservationUserList)}"
	            	th:each="r : ${reservationUserList}">
	                <td th:text="${r.branchCode}"></td>
	                <td th:text="${r.memberId}"></td>
	                <td th:text="${r.branchCode}"></td>
	                <td th:text="${r.checkIn}"></td>
	                <td th:text="${r.checkOut}"></td>
	                <td th:text="${r.numberOfStays}"></td>
	                <td th:text="${r.reservRegistrationDate}"></td>
	            </tr>
	        </tbody>
	     </table>
	  </th:block>
</html>