<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	  
	<!-- css file import head태그 안에 추가  -->
	<head>
		<!-- This Page CSS -->
	</head>
	
	<!-- This Page breadcrumbTitle -->
	<th:block layout:fragment="customBreadcrumbTitle">
		<h4 class="page-title text-truncate text-dark font-weight-medium mb-1">적립금관리</h4>
	</th:block>
	
	<!-- This Page breadcrumb -->
	<th:block layout:fragment="customBreadcrumb">	
		<li class="breadcrumb-item">
			<a th:href="@{/}" class="text-muted">리뷰기준 적립률</a>
		</li>
		<li class="breadcrumb-item">
			<a th:href="@{#}" class="text-muted">조회하기</a>
		</li>
	</th:block>
	
	<!-- Start Page Content -->
	<th:block layout:fragment="customContent">	
			<table class="table">
			 <thead>
	            <tr>
	                <th scope="col">적립 종류</th>
	                <th scope="col">적립 금액</th>
	                <th scope="col">등록자 아이디</th>	                
	                <th scope="col">적립금 기준 등록일자</th>  
	                <th scope="col">수정</th>
	                <th scope="col">삭제</th>                                                                                                                                            
	            </tr>
	         </thead>
	         <tbody>
	            <tr th:if="${reviewMileageCriteria != null and not #lists.isEmpty(reviewMileageCriteria)}"
	            	th:each="l : ${reviewMileageCriteria}">
	                <td th:text="${l.mileageCriteriaCode}"></td>
	                <td th:text="${l.memberId}"></td>
	                <td th:text="${l.mileageKind}"></td>
	                <td th:text="${l.mileageAmount}"></td>
	                <td th:text="${l.mileageCriteriaRegisterDate}"></td>
	                <td class="addList">
	                	<a th:href="@{/admin/mileage/modifyReviewMileageCriteria}">수정</a>
	                </td>
	                <td>
	                	<a th:href="@{/admin/mileage/removeReviewMileageCriteria}">삭제</a>
	                </td>
	            </tr>
				<tr th:unless="${reviewMileageCriteria != null and not #lists.isEmpty(reviewMileageCriteria)}">
					<td colspan="9">등록된 적립률기준이 없습니다.</td>
				</tr>                            
              </tbody>
            </table>   
	</th:block>
</html>










