<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	  
	<!-- css file import head태그 안에 추가  -->
	<head>
		<!-- This Page CSS -->
	</head>
	
	<!-- This Page breadcrumbTitle -->
	<th:block layout:fragment="customBreadcrumbTitle">
		<h4 class="page-title text-truncate text-dark font-weight-medium mb-1">적립금 관리</h4>
	</th:block>
	
	<!-- This Page breadcrumb -->
	<th:block layout:fragment="customBreadcrumb">	
		<li class="breadcrumb-item">
			<a th:href="@{/}" class="text-muted">결제금액기준 적립률</a>
		</li>
		<li class="breadcrumb-item">
			<a th:href="@{#}" class="text-muted">등록하기</a>
		</li>
	</th:block>

	<!-- Start Page Content -->
	<th:block layout:fragment="customContent">
	    <table class="table table-bordered">
	        <thead>
	            <tr>
	                <th scope="col">객실 결제 적립률 코드</th>
	                <th scope="col">등록자 아이디</th>
	                <th scope="col">적립등급 이름</th>
	                <th scope="col">결제금액 기준 적립률</th>
	                <th scope="col">누적 결제금액 기준 등업</th>
	                <th scope="col">객실 결제금액에 따른 적립률 등록일자</th>                                                                                                                                                   
	            </tr>
            </thead>
            <tbody>
	            <tr>
	            	<td>
	            		<input type="text" id="roompayMileageRateCode" name="roompayMileageRateCode" readonly="readonly" />
	            	</td>
	            	<td>
	            		<input type="text" id="memberId" name="memberId" readonly="readonly" />
	            	</td>
	            	<td>
	            		<input type="text" id="mileageGradeName" name="mileageGradeName" />
	            	</td>
	            	<td>
	            		<input type="text" id="paymentCriteriaMileagePercent" name="paymentCriteriaMileagePercent" />
	            	</td>
	            	<td>
	            		<input type="text" id="paymentCriteriaUpgrade" name="paymentCriteriaUpgrade" />
	            	</td>
	            	<td>
	            		<input type="text" id="mileageRateRegisterDate" name="mileageRateRegisterDate" />
	            	</td>
	            </tr>
	        </tbody>
	    </table>
		<div style="float: right;">
			<a class="btn waves-effect waves-light btn-dark" th:href="@{/admin/mileage/getPaymentCriteriaMileage}">적립률 등록</a>
		</div>                  
	</th:block>
</html>

