<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	  
	<!-- css file import head태그 안에 추가  -->
	<head>
		<!-- This Page CSS -->
	</head>
	
	<!-- Start Page Content -->
	<th:block layout:fragment="customContents">
	    <div class="page-header breadcrumb-wrap">
	        <div class="container">
	            <div class="breadcrumb">
	                <a href="index.html" rel="nofollow">Home<i class="fi-rs-home mr-5"></i></a>
	                <span></span> Pages <span></span> My Account
	            </div>
	        </div>
	    </div>
	    <div class="page-content pt-150 pb-150">
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-10 m-auto">
	                    <div class="row">
	                        <div class="col-md-3">
	                            <div class="dashboard-menu">
	                                <ul class="nav flex-column" role="tablist">
	                                    <li class="nav-item">
	                                        <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
	                                    </li>
	                                    <li class="nav-item">
	                                        <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
	                                    </li>
	                                    <li class="nav-item">
	                                        <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#track-orders" role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>쿠폰함</a>
	                                    </li>
	                                    <li class="nav-item">
	                                        <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>My Address</a>
	                                    </li>
	                                    <li class="nav-item">
	                                        <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Account details</a>
	                                    </li>
	                                    <li class="nav-item">
	                                        <a class="nav-link" href="page-login.html"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                        <div class="col-md-9">
	                            <div class="tab-content account dashboard-content pl-50">
	                                <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
	                                    <div class="card">
	                                        <div class="card-header">
	                                            <h3 class="mb-0">Hello Rosie!</h3>
	                                        </div>
	                                        <div class="card-body">
	                                            <p>
	                                                From your account dashboard. you can easily check &amp; view your <a href="#">recent orders</a>,<br />
	                                                manage your <a href="#">shipping and billing addresses</a> and <a href="#">edit your password and account details.</a>
	                                            </p>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
	                                    <div class="card">
	                                        <div class="card-header">
	                                            <h3 class="mb-0">Your Orders</h3>
	                                        </div>
	                                        <div class="card-body">
	                                            <div class="table-responsive">
	                                                <table class="table">
	                                                    <thead>
	                                                        <tr>
	                                                            <th>Order</th>
	                                                            <th>Date</th>
	                                                            <th>Status</th>
	                                                            <th>Total</th>
	                                                            <th>Actions</th>
	                                                        </tr>
	                                                    </thead>
	                                                    <tbody>
	                                                        <tr>
	                                                            <td>#1357</td>
	                                                            <td>March 45, 2020</td>
	                                                            <td>Processing</td>
	                                                            <td>$125.00 for 2 item</td>
	                                                            <td><a href="#" class="btn-small d-block">View</a></td>
	                                                        </tr>
	                                                        <tr>
	                                                            <td>#2468</td>
	                                                            <td>June 29, 2020</td>
	                                                            <td>Completed</td>
	                                                            <td>$364.00 for 5 item</td>
	                                                            <td><a href="#" class="btn-small d-block">View</a></td>
	                                                        </tr>
	                                                        <tr>
	                                                            <td>#2366</td>
	                                                            <td>August 02, 2020</td>
	                                                            <td>Completed</td>
	                                                            <td>$280.00 for 3 item</td>
	                                                            <td><a href="#" class="btn-small d-block">View</a></td>
	                                                        </tr>
	                                                    </tbody>
	                                                </table>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="tab-pane fade" id="track-orders" role="tabpanel" aria-labelledby="track-orders-tab">
	                                    <div class="card">
	                                        <div class="card-header">
	                                            <h3 class="mb-0">쿠폰함</h3>
	                                        </div>
	                                        <div class="row vendor-grid">
							                    	<div class="col-lg-6 col-md-6 col-12 col-sm-6">
							                        <div class="vendor-wrap style-2 mb-40">
							                            <div class="product-badges product-badges-position product-badges-mrg">
							                                <span class="hot">Mall</span>
							                            </div>
							                            <div class="vendor-img-action-wrap">
							                                <div class="vendor-img">
							                                    <a href="vendor-details-1.html">
							                                        <img class="default-img" src="assets/imgs/vendor/vendor-1.png" alt="" />
							                                    </a>
							                                </div>
							                                <div class="mt-10">
							                                    <span class="font-small total-product">380 products</span>
							                                </div>
							                            </div>
							                            <div class="vendor-content-wrap">
							                                <div class="mb-30">
							                                    <div class="product-category">
							                                        <span class="text-muted">Since 2012</span>
							                                    </div>
							                                    <h4 class="mb-5"><a href="vendor-details-1.html">Nature Food</a></h4>
							                                    <div class="product-rate-cover">
							                                        <div class="product-rate d-inline-block">
							                                            <div class="product-rating" style="width: 90%"></div>
							                                        </div>
							                                        <span class="font-small ml-5 text-muted"> (4.0)</span>
							                                    </div>
							                                    <div class="vendor-info d-flex justify-content-between align-items-end mt-30">
							                                        <ul class="contact-infor text-muted">
							                                            <li><img src="assets/imgs/theme/icons/icon-location.svg" alt="" /><strong>Address: </strong> <span>5171 W Campbell Ave undefined Kent, Utah 53127 United States</span></li>
							                                            <li><img src="assets/imgs/theme/icons/icon-contact.svg" alt="" /><strong>Call Us:</strong><span>(+91) - 540-025-124553</span></li>
							                                        </ul>
							                                        <a href="vendor-details-1.html" class="btn btn-xs">Visit Store <i class="fi-rs-arrow-small-right"></i></a>
							                                    </div>
							                                </div>
							                            </div>
							                        </div>
							                    </div>
	                                    </div>
	                                </div>
	                                <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
	                                    <div class="row">
	                                        <div class="col-lg-6">
	                                            <div class="card mb-3 mb-lg-0">
	                                                <div class="card-header">
	                                                    <h3 class="mb-0">Billing Address</h3>
	                                                </div>
	                                                <div class="card-body">
	                                                    <address>
	                                                        3522 Interstate<br />
	                                                        75 Business Spur,<br />
	                                                        Sault Ste. <br />Marie, MI 49783
	                                                    </address>
	                                                    <p>New York</p>
	                                                    <a href="#" class="btn-small">Edit</a>
	                                                </div>
	                                            </div>
	                                        </div>
	                                        <div class="col-lg-6">
	                                            <div class="card">
	                                                <div class="card-header">
	                                                    <h5 class="mb-0">Shipping Address</h5>
	                                                </div>
	                                                <div class="card-body">
	                                                    <address>
	                                                        4299 Express Lane<br />
	                                                        Sarasota, <br />FL 34249 USA <br />Phone: 1.941.227.4444
	                                                    </address>
	                                                    <p>Sarasota</p>
	                                                    <a href="#" class="btn-small">Edit</a>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
	                                    <div class="card">
	                                        <div class="card-header">
	                                            <h5>Account Details</h5>
	                                        </div>
	                                        <div class="card-body">
	                                            <p>Already have an account? <a href="page-login.html">Log in instead!</a></p>
	                                            <form method="post" name="enq">
	                                                <div class="row">
	                                                    <div class="form-group col-md-6">
	                                                        <label>First Name <span class="required">*</span></label>
	                                                        <input required="" class="form-control" name="name" type="text" />
	                                                    </div>
	                                                    <div class="form-group col-md-6">
	                                                        <label>Last Name <span class="required">*</span></label>
	                                                        <input required="" class="form-control" name="phone" />
	                                                    </div>
	                                                    <div class="form-group col-md-12">
	                                                        <label>Display Name <span class="required">*</span></label>
	                                                        <input required="" class="form-control" name="dname" type="text" />
	                                                    </div>
	                                                    <div class="form-group col-md-12">
	                                                        <label>Email Address <span class="required">*</span></label>
	                                                        <input required="" class="form-control" name="email" type="email" />
	                                                    </div>
	                                                    <div class="form-group col-md-12">
	                                                        <label>Current Password <span class="required">*</span></label>
	                                                        <input required="" class="form-control" name="password" type="password" />
	                                                    </div>
	                                                    <div class="form-group col-md-12">
	                                                        <label>New Password <span class="required">*</span></label>
	                                                        <input required="" class="form-control" name="npassword" type="password" />
	                                                    </div>
	                                                    <div class="form-group col-md-12">
	                                                        <label>Confirm Password <span class="required">*</span></label>
	                                                        <input required="" class="form-control" name="cpassword" type="password" />
	                                                    </div>
	                                                    <div class="col-md-12">
	                                                        <button type="submit" class="btn btn-fill-out submit font-weight-bold" name="submit" value="Submit">Save Change</button>
	                                                    </div>
	                                                </div>
	                                            </form>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</th:block>
</html>	    