<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	  
	<!-- css file import head태그 안에 추가  -->
	<head>
		<!-- This Page CSS -->
	</head>
	
	<!-- Start Page Content -->
	<th:block layout:fragment="customContents">
		<main class="main">
	        <div class="page-header breadcrumb-wrap">
	            <div class="container">
	                <div class="breadcrumb">
	                    <a th:href="@{/user}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
	                    <span></span> <a th:href="@{/user/room/selectReservRoom}">객실</a>
	                    <span></span> 옵션 선택 및 확인
	                </div>
	            </div>
	        </div>
	        <div class="container mb-80 mt-50">
	            <div class="row">
	                <div class="col-lg-8 mb-40">
	                    <h1 class="heading-2 mb-10">옵션 선택 및 확인</h1>	                    
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-lg-7">
	                    <div class="row">
	                        <h4 class="mb-30">옵션 선택</h4>
			                    <div class="table-responsive shopping-summery">
		                        	<table class="table table-wishlist">
			                            <thead>
			                                <tr class="main-heading">
			                                    <th class="custome-checkbox start pl-30">
			                                        <input class="form-check-input" type="checkbox" id="allCheck" value="">
			                                        <label class="form-check-label" for="exampleCheckbox11"></label>
			                                    </th>
			                                    <th scope="col">카테고리</th>
			                                    <th scope="col">옵션명</th>
			                                    <th scope="col">금액</th>
			                                    <th scope="col">수량</th>
			                                    <th scope="col" class="end">합계</th>
			                                </tr>
			                            </thead>
		                            <tbody>
		                                <tr th:if="${roomOptionList != null and not #lists.isEmpty(roomOptionList)}"
                         					th:each="o : ${roomOptionList}" class="pt-30">
		                                    <td class="custome-checkbox pl-30">
		                                        <input class="form-check-input check" type="checkbox" name="check" id="exampleCheckbox1" value="">
		                                        <label class="form-check-label" for="exampleCheckbox1"></label>
		                                    </td>
		                                    <td>
		                                        <h6 class="mb-5" th:text="${o.roomOptionCate}">카테고리</h6>
		                                    </td>
		                                    <td>
		                                        <h6 class="mb-5" th:text="${o.roomOptionName}">옵션명</h6>
		                                    </td>
		                                    <td class="price" data-title="Price">
		                                        <h4 class="text-body" th:text="|₩ ${#numbers.formatInteger(o.roomOptionPrice, 0, 'COMMA')}|"> 옵션금액 </h4>
		                                    </td>
		                                    <td class="text-center detail-info" data-title="Stock">
		                                        <div class="detail-extralink mr-15">
		                                            <div class="detail-qty border radius">
		                                                <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
		                                                <input type="text" name="quantity" class="qty-val" value="1" min="1">
		                                                <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
		                                            </div>
		                                        </div>
	                                    	</td>
	                                    	<td class="price" data-title="Price">
	                                        <h4 class="text-brand" >0</h4>
	                                    	</td>
	                                	</tr>
	                            	</tbody>
	                       		</table>
	                    	</div>
	                	</div>
	                </div>
	                <div class="col-lg-5">
	                	<div class="row ml-30 mb-50">
	                        <div class="col-lg-12">
	                            <form method="post" class="apply-coupon">
	                                <input type="text" placeholder="Enter Coupon Code..." id="searchCoupon" >
	                                <button class="btn btn-md" name="coupon" type="button" data-toggle="modal" data-target="#search1-modal">쿠폰 검색</button>
	                            </form>
	                        </div>
	                    </div>
	                    <div class="border p-40 cart-totals ml-30 mb-50">
	                        <div class="d-flex align-items-end justify-content-between mb-30">
	                            <h4>예약 내역</h4>
	                        </div>
	                        <div class="table-responsive order_table checkout">
	                            <table class="table no-border">
	                                <tbody>
	                                    <tr>
	                                        <td class="image product-thumbnail"><img src="user/assets/imgs/shop/product-3-1.jpg" alt="#">가맹점 명</td>
	                                        <td>
	                                            <h6 class="w-160 mb-5">객실명</h6>
	                                        </td>
	                                    </tr>
	                                </tbody>
	                            </table>
	                        </div>
	                        <div class="divider-2 mb-30"></div>
                            <p class="mb-30">
						       <div class="row">
						           <div class="col-6">
						               <span class="font-lg text-dark font-weight-bold" style="font-size: 21px;">₩&nbsp
						                   <strong class="text-brand" id="pricePerPerson">120,000</strong>
						                   &nbsp;x&nbsp;
						                   <strong class="text-brand" id="days">1</strong>
						                   &nbsp;박
						               </span>
						           </div>
						           <div class="col-6 text-end">
						               <span class="font-lg text-dark font-weight-bold" style="font-size: 21px;">
						                   ₩&nbsp;&nbsp;<strong class="text-brand" id="calcAmount">120,000</strong>
						               </span>
						           </div>
						       </div>
	                           <div class="row">
	                               <div class="col-6">
	                                   <span class="font-lg style text-dark font-weight-bold" style="font-size: 21px;">
	                                       수수료
	                                   </span>
	                               </div>
	                               <div class="col-6 text-end">
	                                   <span class="font-lg text-dark font-weight-bold" style="font-size: 21px;">
	                                       ₩&nbsp;&nbsp;<strong class="text-brand" id="charge">120,000</strong>
	                                   </span>
	                               </div>
	                           </div>
	                       </p>
	                       <div class="divider-2 mb-30"></div>
                           <div class="row">
                               <div class="col-6">
                                   <span class="font-lg style text-dark font-weight-bold" style="font-size: 21px;">
                                      결제 금액
                                   </span>
                               </div>
                               <div class="col-6 text-end">
                                   <span class="font-lg text-dark font-weight-bold" style="font-size: 21px;">
                                       ₩&nbsp;&nbsp;<strong class="text-brand" id="total">120,000</strong>
                                   </span>
                               </div>
                           </div>
	                    </div>
	                    <div class="payment ml-30">
	                        <h4 class="mb-30">결제</h4>
	                        <div class="payment_option">
	                            <div class="custome-radio">
	                                <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios3" checked="">
	                                <label class="form-check-label" for="exampleRadios3" data-bs-toggle="collapse" data-target="#bankTranfer" aria-controls="bankTranfer">Direct Bank Transfer</label>
	                            </div>
	                            <div class="custome-radio">
	                                <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios4" checked="">
	                                <label class="form-check-label" for="exampleRadios4" data-bs-toggle="collapse" data-target="#checkPayment" aria-controls="checkPayment">Cash on delivery</label>
	                            </div>
	                            <div class="custome-radio">
	                                <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios5" checked="">
	                                <label class="form-check-label" for="exampleRadios5" data-bs-toggle="collapse" data-target="#paypal" aria-controls="paypal">Online Getway</label>
	                            </div>
	                        </div>
	                        <div class="payment-logo d-flex">
	                            <img class="mr-15" src="user/assets/imgs/theme/icons/payment-paypal.svg" alt="">
	                            <img class="mr-15" src="user/assets/imgs/theme/icons/payment-visa.svg" alt="">
	                            <img class="mr-15" src="user/assets/imgs/theme/icons/payment-master.svg" alt="">
	                            <img src="user/assets/imgs/theme/icons/payment-zapper.svg" alt="">
	                        </div>
	                        <a href="#" class="btn btn-fill-out btn-block mt-30">Place an Order<i class="fi-rs-sign-out ml-15"></i></a>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </main>
	    
	    <!-- coupon modal -->
	    <div id="search1-modal" class="col-lg-5" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
		    <div class="border p-40 cart-totals ml-30 mb-50">
		        <div class="d-flex align-items-end justify-content-between mb-30 modal-header">
		            <h4 class="modal-title" id="modalTitle2">쿠폰 선택</h4>
		        </div>
		        <div class="modal-body">
		        	<div class="custome-radio">
		                <input class="form-check-input" required="" type="radio" name="payment_option" id="couponName" checked="">
		                <label class="form-check-label" for="searchItem1" data-bs-toggle="collapse" data-target="#bankTranfer" aria-controls="bankTranfer">쿠폰 명</label>
	                </div>
		        </div>
		    </div>
		</div>
	</th:block>
	
	<th:block layout:fragment="customJs">
		<script th:inline="javascript">
			
			/* 
			// 쿠폰 모달
			$(document).on('click', '.searchCoupon label', function(){
				const code = $(this).children().eq(0).text();
				$('#search1Name').val(name);
				$('#search1-modal').modal('hide');
			}); 
			*/
			
			// 옵션 체크 박스
			
			// 전체 체크
			
			$(document).ready(function() {
		        $('#allCheck').click(function() {
		            $('.check').prop('checked', this.checked);
		        });
		    });	
			
		
			
		</script>	
	</th:block>
</html>