<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	  
	<!-- css file import head태그 안에 추가  -->
	<head>
		<!-- This Page CSS -->
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
		
		<style>
			.detail-info .product-price .current-price {
			    font-size: 40px !important;
			}
			.detail-info h2 {
			    font-size: 50px !important;
			}
		</style>
	</head>
	
		<!-- Start Page Content -->
	<th:block layout:fragment="customContents">
	    <main class="main">
	        <div class="page-header breadcrumb-wrap">
	            <div class="container">
	                <div class="breadcrumb">
	                    <a th:href="@{/user}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
	                    <span></span> <a th:href="@{/user/room/selectReservRoom}">객실</a> <span></span>글램핑1호점
	                </div>
	            </div>
	        </div>
	        <div class="container mb-30" >
	            <div class="row">
	                <div class="col-xl-10 col-lg-12 m-auto">
	                    <div class="product-detail accordion-detail">
	                        <div class="row mb-50 mt-30">
	                            <div class="col-md-6 col-sm-12 col-xs-12 mb-md-0 mb-sm-5">
	                                <div class="detail-gallery">
	                                    <!-- MAIN SLIDES -->
	                                    <div class="product-image-slider">
	                                        <figure class="border-radius-10">
	                                            <img th:src="@{/user/assets/imgs/shop/64b8f2c3358d3.jpg}" alt="product image" />
	                                        </figure>
	                                        <figure class="border-radius-10">
	                                            <img th:src="@{/user/assets/imgs/shop/64b8f2c3358d3.jpg}" alt="product image" />
	                                        </figure>
	                                        <figure class="border-radius-10">
	                                            <img th:src="@{/user/assets/imgs/shop/64b8f2c3358d3.jpg}" alt="product image" />
	                                        </figure>
	                                        <figure class="border-radius-10">
	                                            <img th:src="@{/user/assets/imgs/shop/64b8f2c3358d3.jpg}" alt="product image" />
	                                        </figure>
	                                         <figure class="border-radius-10">
	                                            <img th:src="@{/user/assets/imgs/shop/64b8f2c3358d3.jpg}" alt="product image" />
	                                        </figure>
	                                    </div>
	                                    <!-- THUMBNAILS -->
	                                    <div class="slider-nav-thumbnails">
	                                        <div><img th:src="@{/user/assets/imgs/shop/64b8f2c3358d3.jpg}" alt="product image" /></div>
	                                        <div><img th:src="@{/user/assets/imgs/shop/64b8f2c3358d3.jpg}" alt="product image" /></div>
	                                        <div><img th:src="@{/user/assets/imgs/shop/64b8f2c3358d3.jpg}" alt="product image" /></div>
	                                        <div><img th:src="@{/user/assets/imgs/shop/64b8f2c3358d3.jpg}" alt="product image" /></div>
	                                        <div><img th:src="@{/user/assets/imgs/shop/64b8f2c3358d3.jpg}" alt="product image" /></div>
	                                    </div>
	                                </div>
	                                <!-- End Gallery -->
	                            </div>
	                            <div class="col-md-6 col-sm-12 col-xs-12">
	                                <div class="detail-info pr-30 pl-30">
	                                    
	                                    <h2 class="title-detail mt-2" id="roomName">글램핑1호</h2>
			                            
			                            
			                            <div class="clearfix product-price-cover mt-3">
                                            <div class="product-price primary-color float-left">
                                                <span class="current-price text-brand">₩ 120000</span>
                                            </div>
                                        </div>
			                            
	                                    <div class="short-desc mb-30">
	                                    	<div class="row">
	                                    		<div class="form-group col-md-12">
                                                    <label class="h5 font-weight-bold">예약일자</label>
			                                        <input type="text" class="form-control" name="daterange" value="01/01/2015 - 01/31/2015" />
                                                </div>
	                                    	</div>
	                                       
	                                    </div>
	                                </div>
	                                <!-- Detail Info -->
	                            </div>
	                        </div>
	                        <div class="product-info">
	                            <div class="tab-style3">
	                                <ul class="nav nav-tabs text-uppercase">
	                                    <li class="nav-item">
	                                        <a class="nav-link active" id="Description-tab" data-bs-toggle="tab" href="#Description">객실소개</a>
	                                    </li>
	                                    <li class="nav-item">
	                                        <a class="nav-link" id="Additional-info-tab" data-bs-toggle="tab" href="#Additional-info">추가 정보</a>
	                                    </li>
	                                    <li class="nav-item">
	                                        <a class="nav-link" id="Reviews-tab" data-bs-toggle="tab" href="#Reviews">리뷰</a>
	                                    </li>
	                                </ul>
	                                <div class="tab-content shop_info_tab entry-main-content">
	                                    <div class="tab-pane fade show active" id="Description">
	                                        <div class="">
	                                        	<hr class="wp-block-separator is-style-dots" />
	                                        	<h4 class="mt-30">기본 정보</h4>
	                                            <ul class="product-more-infor mt-30">
	                                                <li id="rommSize" th:value="*{roomSize}"><span>객실 크기</span> 70%</li>
	                                                <li id="roomBasicPersonnel" th:value="*{roomBasicPersonnel}"><span>객실 기본인원</span> Bottle</li>
	                                                <li id="roomMaxPersonnel" th:value="*{roomMaxPersonnel}"><span>객실 최대인원</span> Green, Pink, Powder Blue, Purple</li>
	                                                <li id="availableDogTypes" th:value="*{availableDogTypes}"><span>객실이용 가능 견종</span> 100ml</li>
	                                            </ul>
	                                            <hr class="wp-block-separator is-style-dots" />
	                                            <h4 class="mt-30">편의시설 및 서비스</h4> <br/>
	                                            <p> TV, 에어컨, 침대1개, 헤어드라이기, 식탁, 조리도구, 수건, 휴지, 치약, 비누, 바디워시, 샴푸, 애견식기세트, 배변판, 배변패드, 배변봉투, 먼지제거기, WI-FI</p>
	                                            <p> 매점 운영시간 : 09:00 ~ 19:30 </p>
	                                            <p> 주차가능 </p>
	                                            <hr class="wp-block-separator is-style-dots" />
	                                            <h4 class="mt-30">주의 사항</h4> <br/>
	                                            <p> 입실시간은 15시 이후, 퇴실시간은 11시까지 입니다.(조기 입실 및 퇴실시간 연장 불가) </p>
	                                            <p> 최대 인원 초과 시 입실이 불가능할 수 있으며, 해당 사유로 환불 받을 수 없습니다. </p>
	                                            <p> 개인 소지품 및 귀중품, 현금등의 불실 및 파손은 숙박업소에서 책임지지 않습니다. </p>
	                                            <p> 숙박 업소는 법적으로 청소년 혼숙이 금지되어 있습니다. 또한 미성년자의 예약 및 이용은 숙소 규정에 따라 결정되며 해당 사유로 환불 받을 수 없습니다. </p>
	                                            <p> 퇴실시 음식물을 비롯한 모든 쓰레기는 분리수거해 주시고, 사용하신 주방용품은 다음 손님을 위해 꼭 세척해주시기 바랍니다. </p>
	                                            <p> 원칙적으로 택배 및 퀵은 받지 않으며, 택배를 배송할 경우 분실 및 파손에 대한 책임을 지지 않습니다. </p>
	                                            <p> 다른 이용객에게 피해를 줄 수 있는 무분별한 오락, 음주, 고성방가는 삼가주시기 바랍니다. </p>
	                                        </div>
	                                    </div>
	                                    <div class="tab-pane fade" id="Additional-info">
	                                        <table class="font-md">
	                                            <tbody>
	                                                <tr class="stand-up">
	                                                    <th>환불규정</th>
	                                                    <td>
	                                                        <p>예약 후에는 취소/환불 규정이 적용되어, 예약 당일에도 방문 예정일에 따라 취소 수수료가 부과 되오니 신중히 예약 해주시기 바랍니다.</p>
	                                                    </td>
	                                                </tr>
	                                                <tr class="folded-wo-wheels">
	                                                    <th>취소 수수료</th>
	                                                    <td>
	                                                    	<ul class="product-more-infor mt-10">
				                                                <li><span>9일전 취소</span> 90% 환불</li>
				                                                <li><span>5 일전 취소</span> 50% 환불</li>
				                                                <li><span>3 일전 취소</span> 30% 환불</li>
				                                                <li><span> 1 일전 취소</span> 0% 환불</li>				                                            
	                                                    	</ul>
	                                                    </td>
	                                                </tr>
	                                                 <tr class="folded-wo-wheels">
	                                                    <th>주의 사항</th>
	                                                    <td>
	                                                        <p>개인 소지품 및 귀중품, 현금등의 불실 및 파손은 숙박업소에서 책임지지 않습니다.</p>
	                                                    </td>
	                                                </tr>
	                                            </tbody>
	                                        </table>
	                                    </div>
	                                    <div class="tab-pane fade" id="Vendor-info">
	                                        <div class="vendor-logo d-flex mb-30">
	                                            <img src="/user/assets/imgs/vendor/vendor-18.svg" alt="" />
	                                            <div class="vendor-name ml-15">
	                                                <h6>
	                                                    <a href="vendor-details-2.html">Noodles Co.</a>
	                                                </h6>
	                                                <div class="product-rate-cover text-end">
	                                                    <div class="product-rate d-inline-block">
	                                                        <div class="product-rating" style="width: 90%"></div>
	                                                    </div>
	                                                    <span class="font-small ml-5 text-muted"> (32 reviews)</span>
	                                                </div>
	                                            </div>
	                                        </div>
	                                        <ul class="contact-infor mb-50">
	                                            <li><img src="/user/assets/imgs/theme/icons/icon-location.svg" alt="" /><strong>Address: </strong> <span>5171 W Campbell Ave undefined Kent, Utah 53127 United States</span></li>
	                                            <li><img src="/user/user/assets/imgs/theme/icons/icon-contact.svg" alt="" /><strong>Contact Seller:</strong><span>(+91) - 540-025-553</span></li>
	                                        </ul>
	                                        <div class="d-flex mb-55">
	                                            <div class="mr-30">
	                                                <p class="text-brand font-xs">Rating</p>
	                                                <h4 class="mb-0">92%</h4>
	                                            </div>
	                                            <div class="mr-30">
	                                                <p class="text-brand font-xs">Ship on time</p>
	                                                <h4 class="mb-0">100%</h4>
	                                            </div>
	                                            <div>
	                                                <p class="text-brand font-xs">Chat response</p>
	                                                <h4 class="mb-0">89%</h4>
	                                            </div>
	                                        </div>
	                                        <p>Noodles & Company is an American fast-casual restaurant that offers international and American noodle dishes and pasta in addition to soups and salads. Noodles & Company was founded in 1995 by Aaron Kennedy and is headquartered in Broomfield, Colorado. The company went public in 2013 and recorded a $457 million revenue in 2017.In late 2018, there were 460 Noodles & Company locations across 29 states and Washington, D.C.</p>
	                                    </div>
	                                    <div class="tab-pane fade" id="Reviews">
	                                        <!--Comments-->
	                                        <div class="comments-area">
	                                            <div class="row">
	                                                <div class="col-lg-8">
	                                                    <h4 class="mb-30">Customer questions & answers</h4>
	                                                    <div class="comment-list">
	                                                        <div class="single-comment justify-content-between d-flex mb-30">
	                                                            <div class="user justify-content-between d-flex">
	                                                                <div class="thumb text-center">
	                                                                    <img src="/user/assets/imgs/blog/author-2.png" alt="" />
	                                                                    <a href="#" class="font-heading text-brand">Sienna</a>
	                                                                </div>
	                                                                <div class="desc">
	                                                                    <div class="d-flex justify-content-between mb-10">
	                                                                        <div class="d-flex align-items-center">
	                                                                            <span class="font-xs text-muted">December 4, 2022 at 3:12 pm </span>
	                                                                        </div>
	                                                                        <div class="product-rate d-inline-block">
	                                                                            <div class="product-rating" style="width: 100%"></div>
	                                                                        </div>
	                                                                    </div>
	                                                                    <p class="mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, suscipit exercitationem accusantium obcaecati quos voluptate nesciunt facilis itaque modi commodi dignissimos sequi repudiandae minus ab deleniti totam officia id incidunt? <a href="#" class="reply">Reply</a></p>
	                                                                </div>
	                                                            </div>
	                                                        </div>
	                                                        <div class="single-comment justify-content-between d-flex mb-30 ml-30">
	                                                            <div class="user justify-content-between d-flex">
	                                                                <div class="thumb text-center">
	                                                                    <img src="/user/assets/imgs/blog/author-3.png" alt="" />
	                                                                    <a href="#" class="font-heading text-brand">Brenna</a>
	                                                                </div>
	                                                                <div class="desc">
	                                                                    <div class="d-flex justify-content-between mb-10">
	                                                                        <div class="d-flex align-items-center">
	                                                                            <span class="font-xs text-muted">December 4, 2022 at 3:12 pm </span>
	                                                                        </div>
	                                                                        <div class="product-rate d-inline-block">
	                                                                            <div class="product-rating" style="width: 80%"></div>
	                                                                        </div>
	                                                                    </div>
	                                                                    <p class="mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, suscipit exercitationem accusantium obcaecati quos voluptate nesciunt facilis itaque modi commodi dignissimos sequi repudiandae minus ab deleniti totam officia id incidunt? <a href="#" class="reply">Reply</a></p>
	                                                                </div>
	                                                            </div>
	                                                        </div>
	                                                        <div class="single-comment justify-content-between d-flex">
	                                                            <div class="user justify-content-between d-flex">
	                                                                <div class="thumb text-center">
	                                                                    <img src="/user/assets/imgs/blog/author-4.png" alt="" />
	                                                                    <a href="#" class="font-heading text-brand">Gemma</a>
	                                                                </div>
	                                                                <div class="desc">
	                                                                    <div class="d-flex justify-content-between mb-10">
	                                                                        <div class="d-flex align-items-center">
	                                                                            <span class="font-xs text-muted">December 4, 2022 at 3:12 pm </span>
	                                                                        </div>
	                                                                        <div class="product-rate d-inline-block">
	                                                                            <div class="product-rating" style="width: 80%"></div>
	                                                                        </div>
	                                                                    </div>
	                                                                    <p class="mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, suscipit exercitationem accusantium obcaecati quos voluptate nesciunt facilis itaque modi commodi dignissimos sequi repudiandae minus ab deleniti totam officia id incidunt? <a href="#" class="reply">Reply</a></p>
	                                                                </div>
	                                                            </div>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                                <div class="col-lg-4">
	                                                    <h4 class="mb-30">Customer reviews</h4>
	                                                    <div class="d-flex mb-30">
	                                                        <div class="product-rate d-inline-block mr-15">
	                                                            <div class="product-rating" style="width: 90%"></div>
	                                                        </div>
	                                                        <h6>4.8 out of 5</h6>
	                                                    </div>
	                                                    <div class="progress">
	                                                        <span>5 star</span>
	                                                        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
	                                                    </div>
	                                                    <div class="progress">
	                                                        <span>4 star</span>
	                                                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
	                                                    </div>
	                                                    <div class="progress">
	                                                        <span>3 star</span>
	                                                        <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
	                                                    </div>
	                                                    <div class="progress">
	                                                        <span>2 star</span>
	                                                        <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
	                                                    </div>
	                                                    <div class="progress mb-30">
	                                                        <span>1 star</span>
	                                                        <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
	                                                    </div>
	                                                    <a href="#" class="font-xs text-muted">How are ratings calculated?</a>
	                                                </div>
	                                            </div>
	                                        </div>
	                                        <!--comment form-->
	                                    </div>
	                                </div>
	                            </div>
	                        </div>	                        
	                    </div>
	                </div>
	            </div>
	        </div>
	    </main>
	</th:block>
	
	<!-- This Page JS -->
    <th:block layout:fragment="customJsFile">
    	<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    	<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    </th:block>
    <!-- This Page JS Script -->
    <th:block layout:fragment="customJs">
    	<script>
    	 	$('input[name="daterange"]').daterangepicker();
    	</script>
    </th:block>
</html>