<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	  
	<!-- css file import head태그 안에 추가  -->
	<head>
		<!-- This Page CSS -->		
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
	    
	    <style>
	        .daterangepicker .drp-calendar {
	            max-width: 425px !important;
	        }
	        .custom_select .select2-container--default .select2-selection--single .select2-selection__rendered{
	            font-size: 20px !important;
	        }
	    </style>
	</head>
	
		<!-- Start Page Content -->
	<th:block layout:fragment="customContents">
	    <main class="main">
	        <div class="page-header breadcrumb-wrap">
	            <div class="container">
	                <div class="breadcrumb">
	                    <a th:href="@{/user}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
	                    <span></span> <a th:href="@{/user/room/selectReservRoom}">객실</a> <span></span>글램핑1호점
	                </div>
	            </div>
	        </div>
	        <div class="container mb-30" >
	            <div class="row">
	                <div class="col-xl-10 col-lg-12 m-auto">
	                    <div class="product-detail accordion-detail">
	                        <div class="row mb-50 mt-30">
	                            <div class="col-md-6 col-sm-12 col-xs-12 mb-md-0 mb-sm-5">
	                                <div class="detail-gallery">
	                                    <!-- MAIN SLIDES -->
	                                    <div class="product-image-slider">
	                                        <figure class="border-radius-10">
	                                            <img th:src="@{/user/assets/imgs/shop/64b8f2c3358d3.jpg}" alt="product image" />
	                                        </figure>
	                                        <figure class="border-radius-10">
	                                            <img th:src="@{/user/assets/imgs/shop/64b8f2b85e0d1.jpg}" alt="product image" />
	                                        </figure>
	                                        <figure class="border-radius-10">
	                                            <img th:src="@{/user/assets/imgs/shop/64b8f2b8af8a6.jpg}" alt="product image" />
	                                        </figure>
	                                        <figure class="border-radius-10">
	                                            <img th:src="@{/user/assets/imgs/shop/64b8f2bad666d.jpg}" alt="product image" />
	                                        </figure>
	                                         <figure class="border-radius-10">
	                                            <img th:src="@{/user/assets/imgs/shop/64b8f2c540c4c.jpg}" alt="product image" />
	                                        </figure>
	                                    </div>
	                                    <!-- THUMBNAILS -->
	                                    <div class="slider-nav-thumbnails">
	                                        <div><img th:src="@{/user/assets/imgs/shop/64b8f2c3358d3.jpg}" alt="product image" /></div>
	                                        <div><img th:src="@{/user/assets/imgs/shop/64b8f2b85e0d1.jpg}" alt="product image" /></div>
	                                        <div><img th:src="@{/user/assets/imgs/shop/64b8f2b8af8a6.jpg}" alt="product image" /></div>
	                                        <div><img th:src="@{/user/assets/imgs/shop/64b8f2bad666d.jpg}" alt="product image" /></div>
	                                        <div><img th:src="@{/user/assets/imgs/shop/64b8f2c540c4c.jpg}" alt="product image" /></div>
	                                    </div>
	                                </div>
	                                <!-- End Gallery -->
	                            </div>
	                            <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="detail-info pr-30 pl-30" th:object="${roomInfo}">
                                            <h2 class="title-detail mt-20" th:text="*{roomName}">객실 : 스위트 룸</h2>
                                            
                                            <div class="short-desc mb-30">
                                                <div class="row mt-15">
                                                    <div class="col-lg-12">
                                                        <div class="calculate-shiping p-10 mb-10" >
                                                            <div class="clearfix product-price-cover">
                                                                <div class="product-price primary-color float-left">
                                                                    <span class="current-price text-brand" id="roomPrice" th:data-room-price="*{roomBasicPrice}" th:text="|₩ ${#numbers.formatInteger(roomInfo.roomBasicPrice, 3, 'COMMA')}|">₩ 120,000</span>
                                                                    <span class="mt-15">
                                                                        <span class="font-md ml-10 text-dark font-weight-bold" style="font-size: 20px;">/ 박</span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <span class="font-weight-bold ml-10 mt-10" style="font-size: 21px;">Check in - Check out</span>
                                                            <div class="d-flex">
                												<input type="text" id="checkInOut" style="font-size: 20px;"/>
                                                                <input type="hidden" id="startDate" name="startDate" />
                                                                <input type="hidden" id="endDate" name="endDate" />
                                                            </div>
                                                            <div class="field_form shipping_calculator">
                                                                <div class="form-row">
                                                                    <div class="form-group col-lg-12">
                                                                        <div class="custom_select">
                                                                            <select class="form-control select-active w-100" id="countSelect">
                                                                                <option value="1">인원수: 1 명</option>
                                                                                <option value="2">인원수: 2 명</option>
                                                                                <option value="3">인원수: 3 명</option>
                                                                                <option value="4">인원수: 4 명</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group col-lg-12 mt-20">
                                                                        <button type="button" class="btn w-100" style="height: 60px; font-size: 25px;" name="roomTotalAmount"
                                                                         id="ReservationBtn" th:href="@{user/room/roomTotalAmount}">예약하기</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <p class="mb-40 text-center"><span class="font-lg text-success">예약 확정 전에는 요금이 청구되지 않습니다.</span></p>
                                                            <p class="mb-30">
                                                                <div class="row">
                                                                    <div class="col-6">
                                                                        <span class="font-lg text-dark font-weight-bold" style="font-size: 21px;">₩&nbsp
                                                                            <strong class="text-brand" id="pricePerPerson">120,000</strong>
                                                                            &nbsp;x&nbsp;
                                                                            <strong class="text-brand" id="days">1</strong>
                                                                            &nbsp;박
                                                                        </span>
                                                                    </div>
                                                                    <div class="col-6 text-end">
                                                                        <span class="font-lg text-dark font-weight-bold" style="font-size: 21px;">
                                                                            ₩&nbsp;&nbsp;<strong class="text-brand" id="calcAmount">120,000</strong>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </p>
                                                            <p class="mb-30">
                                                                <div class="row">
                                                                    <div class="col-6">
                                                                        <span class="font-lg style text-dark font-weight-bold" style="font-size: 21px;">
                                                                            수수료
                                                                        </span>
                                                                    </div>
                                                                    <div class="col-6 text-end">
                                                                        <span class="font-lg text-dark font-weight-bold" style="font-size: 21px;">
                                                                            ₩&nbsp;&nbsp;<strong class="text-brand" id="charge">120,000</strong>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </p>
                                                            <hr />
                                                            <p class="mb-30">
                                                                <div class="row">
                                                                    <div class="col-6">
                                                                        <span class="font-lg style text-dark font-weight-bold" style="font-size: 21px;">
                                                                            총합계
                                                                        </span>
                                                                    </div>
                                                                    <div class="col-6 text-end">
                                                                        <span class="font-lg text-dark font-weight-bold" style="font-size: 21px;">
                                                                            ₩&nbsp;&nbsp;<strong class="text-brand" id="total">120,000</strong>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Detail Info -->
                                    </div>
	                        </div>
	                        <div class="product-info">
	                            <div class="tab-style3">
	                                <ul class="nav nav-tabs text-uppercase">
	                                    <li class="nav-item">
	                                        <a class="nav-link active" id="Description-tab" data-bs-toggle="tab" href="#Description">객실소개</a>
	                                    </li>
	                                    <li class="nav-item">
	                                        <a class="nav-link" id="Additional-info-tab" data-bs-toggle="tab" href="#Additional-info">추가 정보</a>
	                                    </li>
	                                    <li class="nav-item">
	                                        <a class="nav-link" id="Reviews-tab" data-bs-toggle="tab" href="#Reviews">리뷰</a>
	                                    </li>
	                                </ul>
	                                <div class="tab-content shop_info_tab entry-main-content">
	                                    <div class="tab-pane fade show active" id="Description">
	                                        <div class="">
	                                        	<hr class="wp-block-separator is-style-dots" />
	                                        	<h4 class="mt-30">기본 정보</h4>
	                                            <ul class="product-more-infor mt-30" th:object="${roomInfo}">
	                                                <li id="rommSize" th:text="*{roomSize}"><span>객실사이즈</span> </li>
	                                                <li id="roomBasicPersonnel" th:text="*{roomBasicPersonnel}"><span>객실 기본인원</span></li>
	                                                <li id="roomMaxPersonnel" th:text="*{roomMaxPersonnel}"><span>객실 최대인원</span></li>
	                                                <li id="availableDogTypes" th:text="*{availableDogTypes}"><span>객실이용 가능 견종</span></li>
	                                            </ul>
	                                            <hr class="wp-block-separator is-style-dots" />
	                                            <h4 class="mt-30">편의시설 및 서비스</h4> <br/>
	                                            <p> TV, 에어컨, 침대1개, 헤어드라이기, 식탁, 조리도구, 수건, 휴지, 치약, 비누, 바디워시, 샴푸, 애견식기세트, 배변판, 배변패드, 배변봉투, 먼지제거기, WI-FI</p>
	                                            <p> 매점 운영시간 : 09:00 ~ 19:30 </p>
	                                            <p> 주차가능 </p>
	                                            <hr class="wp-block-separator is-style-dots" />
	                                            <h4 class="mt-30">주의 사항</h4> <br/>
	                                            <p> 입실시간은 15시 이후, 퇴실시간은 11시까지 입니다.(조기 입실 및 퇴실시간 연장 불가) </p>
	                                            <p> 최대 인원 초과 시 입실이 불가능할 수 있으며, 해당 사유로 환불 받을 수 없습니다. </p>
	                                            <p> 개인 소지품 및 귀중품, 현금등의 불실 및 파손은 숙박업소에서 책임지지 않습니다. </p>
	                                            <p> 숙박 업소는 법적으로 청소년 혼숙이 금지되어 있습니다. 또한 미성년자의 예약 및 이용은 숙소 규정에 따라 결정되며 해당 사유로 환불 받을 수 없습니다. </p>
	                                            <p> 퇴실시 음식물을 비롯한 모든 쓰레기는 분리수거해 주시고, 사용하신 주방용품은 다음 손님을 위해 꼭 세척해주시기 바랍니다. </p>
	                                            <p> 원칙적으로 택배 및 퀵은 받지 않으며, 택배를 배송할 경우 분실 및 파손에 대한 책임을 지지 않습니다. </p>
	                                            <p> 다른 이용객에게 피해를 줄 수 있는 무분별한 오락, 음주, 고성방가는 삼가주시기 바랍니다. </p>
	                                        </div>
	                                    </div>
	                                    <div class="tab-pane fade" id="Additional-info">
	                                        <table class="font-md">
	                                            <tbody>
	                                                <tr class="stand-up">
	                                                    <th>환불규정</th>
	                                                    <td>
	                                                        <p>예약 후에는 취소/환불 규정이 적용되어, 예약 당일에도 방문 예정일에 따라 취소 수수료가 부과 되오니 신중히 예약 해주시기 바랍니다.</p>
	                                                    </td>
	                                                </tr>
	                                                <tr class="folded-wo-wheels">
	                                                    <th>취소 수수료</th>
	                                                    <td>
	                                                    	<ul class="product-more-infor mt-10">
				                                                <li><span>9일전 취소</span> 90% 환불</li>
				                                                <li><span>5일전 취소</span> 50% 환불</li>
				                                                <li><span>3일전 취소</span> 30% 환불</li>
				                                                <li><span>1일전 취소</span> 0% 환불</li>				                                            
	                                                    	</ul>
	                                                    </td>
	                                                </tr>
	                                                 <tr class="folded-wo-wheels">
	                                                    <th>주의 사항</th>
	                                                    <td>
	                                                        <p>개인 소지품 및 귀중품, 현금등의 불실 및 파손은 숙박업소에서 책임지지 않습니다.</p>
	                                                    </td>
	                                                </tr>
	                                            </tbody>
	                                        </table>
	                                    </div>
	                                    <!-- 다운 review start  -->
	                                    <div class="tab-pane fade" id="Reviews">
	                                        <!--Comments-->
	                                        <div class="comments-area">
	                                            <div class="row">
	                                                <div class="col-lg-8">
	                                                    <h4 class="mb-30">Customer questions & answers</h4>
	                                                    <div class="comment-list">
	                                                        <div class="single-comment justify-content-between d-flex mb-30">
	                                                            <div class="user justify-content-between d-flex">
	                                                                <div class="thumb text-center">
	                                                                    <img src="/user/assets/imgs/blog/author-2.png" alt="" />
	                                                                    <a href="#" class="font-heading text-brand">Sienna</a>
	                                                                </div>
	                                                                <div class="desc">
	                                                                    <div class="d-flex justify-content-between mb-10">
	                                                                        <div class="d-flex align-items-center">
	                                                                            <span class="font-xs text-muted">December 4, 2022 at 3:12 pm </span>
	                                                                        </div>
	                                                                        <div class="product-rate d-inline-block">
	                                                                            <div class="product-rating" style="width: 100%"></div>
	                                                                        </div>
	                                                                    </div>
	                                                                    <p class="mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, suscipit exercitationem accusantium obcaecati quos voluptate nesciunt facilis itaque modi commodi dignissimos sequi repudiandae minus ab deleniti totam officia id incidunt? <a href="#" class="reply">Reply</a></p>
	                                                                </div>
	                                                            </div>
	                                                        </div>
	                                                        <div class="single-comment justify-content-between d-flex mb-30 ml-30">
	                                                            <div class="user justify-content-between d-flex">
	                                                                <div class="thumb text-center">
	                                                                    <img src="/user/assets/imgs/blog/author-3.png" alt="" />
	                                                                    <a href="#" class="font-heading text-brand">Brenna</a>
	                                                                </div>
	                                                                <div class="desc">
	                                                                    <div class="d-flex justify-content-between mb-10">
	                                                                        <div class="d-flex align-items-center">
	                                                                            <span class="font-xs text-muted">December 4, 2022 at 3:12 pm </span>
	                                                                        </div>
	                                                                        <div class="product-rate d-inline-block">
	                                                                            <div class="product-rating" style="width: 80%"></div>
	                                                                        </div>
	                                                                    </div>
	                                                                    <p class="mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, suscipit exercitationem accusantium obcaecati quos voluptate nesciunt facilis itaque modi commodi dignissimos sequi repudiandae minus ab deleniti totam officia id incidunt? <a href="#" class="reply">Reply</a></p>
	                                                                </div>
	                                                            </div>
	                                                        </div>
	                                                        <div class="single-comment justify-content-between d-flex">
	                                                            <div class="user justify-content-between d-flex">
	                                                                <div class="thumb text-center">
	                                                                    <img src="/user/assets/imgs/blog/author-4.png" alt="" />
	                                                                    <a href="#" class="font-heading text-brand">Gemma</a>
	                                                                </div>
	                                                                <div class="desc">
	                                                                    <div class="d-flex justify-content-between mb-10">
	                                                                        <div class="d-flex align-items-center">
	                                                                            <span class="font-xs text-muted">December 4, 2022 at 3:12 pm </span>
	                                                                        </div>
	                                                                        <div class="product-rate d-inline-block">
	                                                                            <div class="product-rating" style="width: 80%"></div>
	                                                                        </div>
	                                                                    </div>
	                                                                    <p class="mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, suscipit exercitationem accusantium obcaecati quos voluptate nesciunt facilis itaque modi commodi dignissimos sequi repudiandae minus ab deleniti totam officia id incidunt? <a href="#" class="reply">Reply</a></p>
	                                                                </div>
	                                                            </div>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                                <div class="col-lg-4">
	                                                    <h4 class="mb-30">Customer reviews</h4>
	                                                    <div class="d-flex mb-30">
	                                                        <div class="product-rate d-inline-block mr-15">
	                                                            <div class="product-rating" style="width: 90%"></div>
	                                                        </div>
	                                                        <h6>4.8 out of 5</h6>
	                                                    </div>
	                                                    <div class="progress">
	                                                        <span>5 star</span>
	                                                        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
	                                                    </div>
	                                                    <div class="progress">
	                                                        <span>4 star</span>
	                                                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
	                                                    </div>
	                                                    <div class="progress">
	                                                        <span>3 star</span>
	                                                        <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
	                                                    </div>
	                                                    <div class="progress">
	                                                        <span>2 star</span>
	                                                        <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
	                                                    </div>
	                                                    <div class="progress mb-30">
	                                                        <span>1 star</span>
	                                                        <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
	                                                    </div>
	                                                    <a href="#" class="font-xs text-muted">How are ratings calculated?</a>
	                                                </div>
	                                            </div>
	                                        </div>
	                                        <!--comment form-->
	                                    </div>
	                                    <!-- 다운 review end  -->
	                                </div>
	                            </div>
	                        </div>	                        
	                    </div>
	                </div>
	            </div>
	        </div>
	    </main>
	</th:block>
	
	<!-- This Page JS -->
    <th:block layout:fragment="customJsFile">
    	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    </th:block>
    
    <!-- This Page JS Script -->
    <th:block layout:fragment="customJs">
	   	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	    <script th:inline="javascript">
	        $(function() {
	            const date = moment();
	            console.log(moment().format('MM/DD/YYYY'));
	            
	            $('#checkInOut').daterangepicker({
	                opens: 'right',
	                startDate: moment().format('MM/DD/YYYY'),
	                endDate: moment().add(1, 'days').format('MM/DD/YYYY')
	            }, function(start, end, label) {
	                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
	            });
	
	            $('#checkInOut').on('apply.daterangepicker', function(ev, picker) {
	                const endDate = moment(picker.endDate.format('YYYY-MM-DD'));
	                const startDate = moment(picker.startDate.format('YYYY-MM-DD'));
	                const diff = endDate.diff(startDate, 'days');
	                $('#startDate').val(startDate);
	                $('#endDate').val(endDate);
	                
	                const optionPrice = [[${20000}]];
	                const cntPerson = (Number($('#countSelect').val()) - 2) <= 0 ? 0 : (Number($('#countSelect').val()) - 2);
	                // 인원수에 따른 금액
	                const pricePerPerson = Number($('#roomPrice').data('roomPrice')) + (cntPerson * optionPrice);
	                $('#pricePerPerson').text(pricePerPerson.toLocaleString('ko-KR'));
	                
	                // 몇박 
	                $('#days').text(diff);
	                
	                // 중간 계산
	                const calcAmount = pricePerPerson * diff;
	                $('#calcAmount').text(calcAmount.toLocaleString('ko-KR'));
	                
	                // 수수료
	                const charge = calcAmount * 0.1;
	                $('#charge').text(charge.toLocaleString('ko-KR'));
	                // 총합계
	                const total = calcAmount + charge;
	                $('#total').text(total.toLocaleString('ko-KR'));
	                
	
	                console.log(picker.startDate.format('YYYY-MM-DD'));
	                console.log(picker.endDate.format('YYYY-MM-DD'));
	            });
	
	            $('#countSelect').on('change', function(){
	                const startDate = $('#checkInOut').data('daterangepicker').startDate.format('YYYY-MM-DD');
	                const endDate = $('#checkInOut').data('daterangepicker').endDate.format('YYYY-MM-DD');
	                const diff = moment(endDate).diff(startDate, 'days');
	                
	                // 인원수에 따른 금액
	                const optionPrice = [[${20000}]];
	                const cntPerson = (Number($(this).val()) - 2) <= 0 ? 0 : (Number($(this).val()) - 2);
	                
	                const pricePerPerson = Number($('#roomPrice').data('roomPrice')) + (cntPerson * optionPrice);
	                $('#pricePerPerson').text(pricePerPerson.toLocaleString('ko-KR'));
	                
	                // 몇박 
	                $('#days').text(diff);
	                
	                // 중간 계산
	                const calcAmount = pricePerPerson * diff;
	                $('#calcAmount').text(calcAmount.toLocaleString('ko-KR'));
	                
	                // 수수료
	                const charge = calcAmount * 0.1;
	                $('#charge').text(charge.toLocaleString('ko-KR'));
	                // 총합계
	                const total = calcAmount + charge;
	                $('#total').text(total.toLocaleString('ko-KR'));
	            });
	
	            $('#countSelect').select2({	minimumResultsForSearch: Infinity});
	        });
	
	    </script>
    </th:block>
</html>