
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	  
	<!-- css file import head태그 안에 추가  -->
	<head>
		<!-- This Page CSS -->
		<link rel="stylesheet" href="/user/assets/css/plugins/slider-range.css" />
	</head>
	
	<!-- Start Page Content -->
	<th:block layout:fragment="customContents">
	    <main class="main">
	    	<div class="page-header mt-30 mb-50">
		        <div class="page-header breadcrumb-wrap">
		            <div class="container">
		                <div class="breadcrumb">
		                    <a th:href="@{/user}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
		                    <span></span> 객실
		                </div>
		            </div>
		        </div>
	    	</div>
	        <div class="container mb-30">
	            <div class="row flex-row-reverse">
	                <div class="col-lg-4-5">
	                    <div class="shop-product-fillter">
	                        <div class="totall-product">
	                            <p><strong class="text-brand" th:text="${#lists.size(roomList)}">29</strong>개의 숙소가 있습니다!</p>
	                        </div>
	                        <div class="sort-by-product-area">
	                            <div class="sort-by-cover">
	                                <div class="sort-by-product-wrap">
	                                    <div class="sort-by">
	                                        <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
	                                    </div>
	                                    <div class="sort-by-dropdown-wrap">
	                                        <span> 지역 <i class="fi-rs-angle-small-down"></i></span>
	                                    </div>
	                                </div>
	                                <div class="sort-by-dropdown">
	                                    <ul>
	                                        <li><a th:classappend="${param.location == null}? 'active'" th:href="@{/user/room/selectReservRoom}" >전체</a></li>
	                                    	<th:block th:if="${locationList != null}" th:each="l : ${locationList}">
	                                    		<li><a th:classappend="${#strings.equals(param.location, l)}? 'active'" th:href="@{/user/room/selectReservRoom(location=${l})}" th:text="${l}"></a></li>
	                                    	</th:block>
	                                    </ul>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div th:if="${roomList != null and not #lists.isEmpty(roomList)}"
	            	 		 th:each="r : ${roomList}" class="product-list mb-50">
	                        <div class="product-cart-wrap">
	                            <div class="product-img-action-wrap ">
                                    <div class="product-img-inner">
                                        <a th:href="@{/user/room/roomDetailView(roomCode=${r.roomCode})}">
                                            <img class="default-img click-items" th:src="@{/user/assets/imgs/shop/camping-1180234_1280.jpg}" alt="" />
                                        </a>
                                    </div>
	                            </div>
	                            <div class="product-content-wrap">
	                            	<div class="product-category">
                                    	<a th:href="@{/user/room/roomDetailView(roomCode=${r.roomCode})}" id="branchName" th:text="${r.branchName}"></a>
                               		</div>
	                                <h2><a class="click-items" th:href="@{/user/room/roomDetailView(roomCode=${r.roomCode})}" id="roomName" th:text="${r.roomName}"></a></h2>
	                               <div class="product-price">
	                                    <span th:text="|₩ ${#numbers.formatInteger(r.roomBasicPrice, 3, 'COMMA')}|"></span>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <!--product grid-->
	                    <div class="pagination-area mt-20 mb-20">
	                        <nav aria-label="Page navigation example">
	                            <ul class="pagination justify-content-start">
	                                <li class="page-item">
	                                    <a class="page-link" href="#"><i class="fi-rs-arrow-small-left"></i></a>
	                                </li>
	                                <li class="page-item"><a class="page-link" href="#">1</a></li>
	                                <li class="page-item active"><a class="page-link" href="#">2</a></li>
	                                <li class="page-item"><a class="page-link" href="#">3</a></li>
	                                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
	                                <li class="page-item"><a class="page-link" href="#">6</a></li>
	                                <li class="page-item">
	                                    <a class="page-link" href="#"><i class="fi-rs-arrow-small-right"></i></a>
	                                </li>
	                            </ul>
	                        </nav>
	                    </div>
	                </div>	                
	            </div>
	        </div>
	    </main>
	</th:block>
	
	<th:block layout:fragment="customJs">
		<script th:inline="javascript">
			
			
			
		</script>
	</th:block>
	
	
</html>
