<html class=" sizes websockets customelements history postmessage webworkers picture pointerevents webanimations webgl srcset flexbox cssanimations csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth csscolumns-breakbefore csscolumns-breakafter csscolumns-breakinside" style="transform: none;"><head>
    <meta charset="utf-8">
    
    <title>Adminmart Template - The Ultimate Multipurpose admin template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/user/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/user/assets/css/main.css?v=5.6">
    <!-- This Page CSS -->
<style id="theia-sticky-sidebar-stylesheet-TSS">.theiaStickySidebar:after {content: ""; display: table; clear: both;}</style></head>

<body style="transform: none; overflow: visible;"><div class="body-overlay-1"></div>
	<!-- header start -->
	<header class="header-area header-style-1 header-height-2">
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="/user"><img src="/user/assets/imgs/theme/pagelogo.png" alt="logo" height="70px"></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                            <form action="#">
                                <input type="text">
                            </form>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">                                
                                <div class="header-action-icon-2">
                                    <a href="shop-wishlist.html">
                                        <img class="svgInject" alt="Nest" src="/user/assets/imgs/theme/icons/icon-heart.svg">
                                        <span class="pro-count blue">6</span>
                                    </a>
                                    <a href="shop-wishlist.html"><span class="lable">Wishlist</span></a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a href="page-account.html">
                                        <img class="svgInject" alt="Nest" src="/user/assets/imgs/theme/icons/icon-user.svg">
                                    </a>
                                    <a href="page-account.html"><span class="lable ml-0">Account</span></a>
                                    <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown">
                                        <ul>
                                            <li><a href="page-account.html"><i class="fi fi-rs-user mr-10"></i>My Account</a></li>
                                            <li><a href="page-account.html"><i class="fi fi-rs-location-alt mr-10"></i>Order Tracking</a></li>
                                            <li><a href="page-account.html"><i class="fi fi-rs-label mr-10"></i>My Voucher</a></li>
                                            <li><a href="shop-wishlist.html"><i class="fi fi-rs-heart mr-10"></i>My Wishlist</a></li>
                                            <li><a href="page-account.html"><i class="fi fi-rs-settings-sliders mr-10"></i>Setting</a></li>
                                            <li><a href="page-login.html"><i class="fi fi-rs-sign-out mr-10"></i>Sign out</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative justify-content-center">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="index.html"><img src="/user/assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block font-heading">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="#">Room <i class="fi-rs-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="/user/room/selectReservRoom">객실보기</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Reservation <i class="fi-rs-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="/user/room/selectReservDate">객실예약</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Notice <i class="fi-rs-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="#">공지사항</a></li>
                                            <li><a href="#">1:1 문의</a></li>
                                            <li><a href="/user/review/getReview">리뷰</a></li>
                                        </ul>
                                    </li>
                                     <li>
                                        <a href="blog-category-grid.html">Franchise<i class="fi-rs-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="/user/branchApply/@{/user/BranchRecruitAnnouncement/getbranchrecruitannouncement}">모집공고</a></li>
                                            <li><a href="/user/branchApply/@{/user/branchManagement/getbranchmanagement}">가맹관리</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Pages <i class="fi-rs-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="page-about.html">About Us</a></li>
                                            <li><a href="page-contact.html">Contact</a></li>
                                            <li><a href="page-account.html">My Account</a></li>
                                            <li><a href="page-login.html">Login</a></li>
                                            <li><a href="page-register.html">Register</a></li>
                                            <li><a href="page-forgot-password.html">Forgot password</a></li>
                                            <li><a href="page-reset-password.html">Reset password</a></li>
                                            <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                                            <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                                            <li><a href="page-terms.html">Terms of Service</a></li>
                                            <li><a href="page-404.html">404 Page</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="page-contact.html">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="header-action-icon-2 d-block d-lg-none">
                        <div class="burger-icon burger-icon-white">
                            <span class="burger-icon-top"></span>
                            <span class="burger-icon-mid"></span>
                            <span class="burger-icon-bottom"></span>
                        </div>
                    </div>
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="shop-wishlist.html">
                                    <img alt="Nest" src="/user/assets/imgs/theme/icons/icon-heart.svg">
                                    <span class="pro-count white">4</span>
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="shop-cart.html">
                                    <img alt="Nest" src="/user/assets/imgs/theme/icons/icon-cart.svg">
                                    <span class="pro-count white">2</span>
                                </a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                    <ul>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Nest" src="/user/assets/imgs/shop/thumbnail-3.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">Plain Striola Shirts</a></h4>
                                                <h3><span>1 × </span>$800.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Nest" src="/user/assets/imgs/shop/thumbnail-4.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">Macbook Pro 2022</a></h4>
                                                <h3><span>1 × </span>$3500.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="shopping-cart-footer">
                                        <div class="shopping-cart-total">
                                            <h4>Total <span>$383.00</span></h4>
                                        </div>
                                        <div class="shopping-cart-button">
                                            <a href="shop-cart.html">View cart</a>
                                            <a href="shop-checkout.html">Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
	<!-- header end -->
	<!-- mobile header start -->
	<div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="index.html"><img src="/user/assets/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu font-heading">
                            <li class="menu-item-has-children"><span class="menu-expand"><i class="fi-rs-angle-small-down"></i></span>
                                <a href="index.html">Home</a>
                                <ul class="dropdown" style="display: none;">
                                    <li><a href="index.html">Home 1</a></li>
                                    <li><a href="index-2.html">Home 2</a></li>
                                    <li><a href="index-3.html">Home 3</a></li>
                                    <li><a href="index-4.html">Home 4</a></li>
                                    <li><a href="index-5.html">Home 5</a></li>
                                    <li><a href="index-6.html">Home 6</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"><i class="fi-rs-angle-small-down"></i></span>
                                <a href="shop-grid-right.html">shop</a>
                                <ul class="dropdown" style="display: none;">
                                    <li><a href="shop-grid-right.html">Shop Grid – Right Sidebar</a></li>
                                    <li><a href="shop-grid-left.html">Shop Grid – Left Sidebar</a></li>
                                    <li><a href="shop-list-right.html">Shop List – Right Sidebar</a></li>
                                    <li><a href="shop-list-left.html">Shop List – Left Sidebar</a></li>
                                    <li><a href="shop-fullwidth.html">Shop - Wide</a></li>
                                    <li class="menu-item-has-children"><span class="menu-expand"><i class="fi-rs-angle-small-down"></i></span>
                                        <a href="#">Single Product</a>
                                        <ul class="dropdown" style="display: none;">
                                            <li><a href="shop-product-right.html">Product – Right Sidebar</a></li>
                                            <li><a href="shop-product-left.html">Product – Left Sidebar</a></li>
                                            <li><a href="shop-product-full.html">Product – No sidebar</a></li>
                                            <li><a href="shop-product-vendor.html">Product – Vendor Infor</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop-filter.html">Shop – Filter</a></li>
                                    <li><a href="shop-wishlist.html">Shop – Wishlist</a></li>
                                    <li><a href="shop-cart.html">Shop – Cart</a></li>
                                    <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                                    <li><a href="shop-compare.html">Shop – Compare</a></li>
                                    <li class="menu-item-has-children"><span class="menu-expand"><i class="fi-rs-angle-small-down"></i></span>
                                        <a href="#">Shop Invoice</a>
                                        <ul class="dropdown" style="display: none;">
                                            <li><a href="shop-invoice-1.html">Shop Invoice 1</a></li>
                                            <li><a href="shop-invoice-2.html">Shop Invoice 2</a></li>
                                            <li><a href="shop-invoice-3.html">Shop Invoice 3</a></li>
                                            <li><a href="shop-invoice-4.html">Shop Invoice 4</a></li>
                                            <li><a href="shop-invoice-5.html">Shop Invoice 5</a></li>
                                            <li><a href="shop-invoice-6.html">Shop Invoice 6</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"><i class="fi-rs-angle-small-down"></i></span>
                                <a href="#">Vendors</a>
                                <ul class="dropdown" style="display: none;">
                                    <li><a href="vendors-grid.html">Vendors Grid</a></li>
                                    <li><a href="vendors-list.html">Vendors List</a></li>
                                    <li><a href="vendor-details-1.html">Vendor Details 01</a></li>
                                    <li><a href="vendor-details-2.html">Vendor Details 02</a></li>
                                    <li><a href="vendor-dashboard.html">Vendor Dashboard</a></li>
                                    <li><a href="vendor-guide.html">Vendor Guide</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"><i class="fi-rs-angle-small-down"></i></span>
                                <a href="#">Mega menu</a>
                                <ul class="dropdown" style="display: none;">
                                    <li class="menu-item-has-children"><span class="menu-expand"><i class="fi-rs-angle-small-down"></i></span>
                                        <a href="#">Women's Fashion</a>
                                        <ul class="dropdown" style="display: none;">
                                            <li><a href="shop-product-right.html">Dresses</a></li>
                                            <li><a href="shop-product-right.html">Blouses &amp; Shirts</a></li>
                                            <li><a href="shop-product-right.html">Hoodies &amp; Sweatshirts</a></li>
                                            <li><a href="shop-product-right.html">Women's Sets</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"><i class="fi-rs-angle-small-down"></i></span>
                                        <a href="#">Men's Fashion</a>
                                        <ul class="dropdown" style="display: none;">
                                            <li><a href="shop-product-right.html">Jackets</a></li>
                                            <li><a href="shop-product-right.html">Casual Faux Leather</a></li>
                                            <li><a href="shop-product-right.html">Genuine Leather</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"><i class="fi-rs-angle-small-down"></i></span>
                                        <a href="#">Technology</a>
                                        <ul class="dropdown" style="display: none;">
                                            <li><a href="shop-product-right.html">Gaming Laptops</a></li>
                                            <li><a href="shop-product-right.html">Ultraslim Laptops</a></li>
                                            <li><a href="shop-product-right.html">Tablets</a></li>
                                            <li><a href="shop-product-right.html">Laptop Accessories</a></li>
                                            <li><a href="shop-product-right.html">Tablet Accessories</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"><i class="fi-rs-angle-small-down"></i></span>
                                <a href="blog-category-fullwidth.html">Blog</a>
                                <ul class="dropdown" style="display: none;">
                                    <li><a href="blog-category-grid.html">Blog Category Grid</a></li>
                                    <li><a href="blog-category-list.html">Blog Category List</a></li>
                                    <li><a href="blog-category-big.html">Blog Category Big</a></li>
                                    <li><a href="blog-category-fullwidth.html">Blog Category Wide</a></li>
                                    <li class="menu-item-has-children"><span class="menu-expand"><i class="fi-rs-angle-small-down"></i></span>
                                        <a href="#">Single Product Layout</a>
                                        <ul class="dropdown" style="display: none;">
                                            <li><a href="blog-post-left.html">Left Sidebar</a></li>
                                            <li><a href="blog-post-right.html">Right Sidebar</a></li>
                                            <li><a href="blog-post-fullwidth.html">No Sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"><i class="fi-rs-angle-small-down"></i></span>
                                <a href="#">Pages</a>
                                <ul class="dropdown" style="display: none;">
                                    <li><a href="page-about.html">About Us</a></li>
                                    <li><a href="page-contact.html">Contact</a></li>
                                    <li><a href="page-account.html">My Account</a></li>
                                    <li><a href="page-login.html">Login</a></li>
                                    <li><a href="page-register.html">Register</a></li>
                                    <li><a href="page-forgot-password.html">Forgot password</a></li>
                                    <li><a href="page-reset-password.html">Reset password</a></li>
                                    <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                                    <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="page-terms.html">Terms of Service</a></li>
                                    <li><a href="page-404.html">404 Page</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"><i class="fi-rs-angle-small-down"></i></span>
                                <a href="#">Language</a>
                                <ul class="dropdown" style="display: none;">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">German</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap">
                    <div class="single-mobile-header-info">
                        <a href="page-contact.html"><i class="fi-rs-marker"></i> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="page-login.html"><i class="fi-rs-user"></i>Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#"><i class="fi-rs-headphones"></i>(+01) - 2345 - 6789 </a>
                    </div>
                </div>
                <div class="mobile-social-icon mb-50">
                    <h6 class="mb-15">Follow Us</h6>
                    <a href="#"><img src="/user/assets/imgs/theme/icons/icon-facebook-white.svg" alt=""></a>
                    <a href="#"><img src="/user/assets/imgs/theme/icons/icon-twitter-white.svg" alt=""></a>
                    <a href="#"><img src="/user/assets/imgs/theme/icons/icon-instagram-white.svg" alt=""></a>
                    <a href="#"><img src="/user/assets/imgs/theme/icons/icon-pinterest-white.svg" alt=""></a>
                    <a href="#"><img src="/user/assets/imgs/theme/icons/icon-youtube-white.svg" alt=""></a>
                </div>
                <div class="site-copyright">Copyright 2022 © Nest. All rights reserved. Powered by AliThemes.</div>
            </div>
        </div>
    </div>
	<!-- mobile header end -->
	<!-- contents start -->
	<main class="main" style="transform: none;">
		
		<main class="main" style="transform: none;">
	        <div class="page-header breadcrumb-wrap">
	            <div class="container">
	                <div class="breadcrumb">
	                    <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
	                    <span></span> <a href="shop-grid-right.html">Recipes</a> <span></span> Best smartwatch 2022: the top wearables you can buy today
	                </div>
	            </div>
	        </div>
	        
	    </main>
	
	</main>
	<!-- contents end -->
	<!-- footer start -->
	   <footer class="main">
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                	<div class="col-1"></div>
                    <div class="col-2">
                        <div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0">
                            <div class="logo mb-30">
                                <a href="index.html" class="mb-15"><img src="/user/assets/imgs/imoge/SHJ.png" alt="logo" height="100" width="100px"></a>
                                <p class="font-lg text-heading">신현지</p>
                            </div>
                            <ul class="contact-infor">
                                <li><img src="/user/assets/imgs/theme/icons/icon-contact.svg" alt=""><strong>Call Us:</strong><span> 010-4133-4894</span></li>
                                <li><img src="/user/assets/imgs/theme/icons/icon-email-2.svg" alt=""><strong>Email:</strong><span> amld0000@naver.com</span></li>
                                <li><img src="/user/assets/imgs/theme/icons/icon-clock.svg" alt=""><strong>Hours:</strong><span> 00:00 - 24:00</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0">
                            <div class="logo mb-30">
                                <a href="index.html" class="mb-15"><img src="/user/assets/imgs/imoge/KDW.png" alt="logo" height="100" width="100px"></a>
                                <p class="font-lg text-heading">김다운</p>
                            </div>
                            <ul class="contact-infor">
                                <li><img src="/user/assets/imgs/theme/icons/icon-contact.svg" alt=""><strong>Call Us:</strong><span> 010-8382-5251</span></li>
                                <li><img src="/user/assets/imgs/theme/icons/icon-email-2.svg" alt=""><strong>Email:</strong><span> ekdns5254@naver.com</span></li>
                                <li><img src="/user/assets/imgs/theme/icons/icon-clock.svg" alt=""><strong>Hours:</strong><span> 00:00 - 24:00</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0">
                            <div class="logo mb-30">
                                <a href="index.html" class="mb-15"><img src="/user/assets/imgs/imoge/PSW.png" alt="logo" height="100" width="100px"></a>
                                <p class="font-lg text-heading">박시우</p>
                            </div>
                            <ul class="contact-infor">
                                <li><img src="/user/assets/imgs/theme/icons/icon-contact.svg" alt=""><strong>Call Us:</strong><span> 010-8481-1637</span></li>
                                <li><img src="/user/assets/imgs/theme/icons/icon-email-2.svg" alt=""><strong>Email:</strong><span> parksw8649@gmail.com</span></li>
                                <li><img src="/user/assets/imgs/theme/icons/icon-clock.svg" alt=""><strong>Hours:</strong><span> 00:00 - 24:00</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0">
                            <div class="logo mb-30">
                                <a href="index.html" class="mb-15"><img src="/user/assets/imgs/theme/logo.svg" alt="logo"></a>
                                <p class="font-lg text-heading">조영권</p>
                            </div>
                            <ul class="contact-infor">
                                <li><img src="/user/assets/imgs/theme/icons/icon-contact.svg" alt=""><strong>Call Us:</strong><span> 010-5350-2747</span></li>
                                <li><img src="/user/assets/imgs/theme/icons/icon-email-2.svg" alt=""><strong>Email:</strong><span> ksmart49a@gmail.com</span></li>
                                <li><img src="/user/assets/imgs/theme/icons/icon-clock.svg" alt=""><strong>Hours:</strong><span> 00:00 - 24:00</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0">
                            <div class="logo mb-30">
                                <a href="index.html" class="mb-15"><img src="/user/assets/imgs/imoge/JHS.png" alt="logo" height="100" width="100px"></a>
                                <p class="font-lg text-heading">정현수</p>
                            </div>
                            <ul class="contact-infor">
                                <li><img src="/user/assets/imgs/theme/icons/icon-contact.svg" alt=""><strong>Call Us:</strong><span> 010-6383-3571</span></li>
                                <li><img src="/user/assets/imgs/theme/icons/icon-email-2.svg" alt=""><strong>Email:</strong><span> eerie365@gmail.com</span></li>
                                <li><img src="/user/assets/imgs/theme/icons/icon-clock.svg" alt=""><strong>Hours:</strong><span> 00:00 - 24:00</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </section>
    </footer>   
	</body>
	<th:block layout:fragment="customJs">
		<script>
		$(document).on('click', '.searchTb1 tr', function(){
			const branchName = $(this).children().eq(1).text();
			$('#branchName').val(branchName);
			$('#search1-modal').modal('hide');
		});
		
		$(document).on('click', '.searchTb2 tr', function(){
			const code = $(this).children().eq(0).text();
			const name= $(this).children().eq(1).text();
			$('#goodsName').val(name);
			$('#goodsCode').val(code);
			$('#search2-modal').modal('hide');
		});
		
		$(document).on('click', '.search-result tbody ty', function(e){
			e.stopPropagation();
			const isChecked = $(this).find('.check').prop('checked');
			$(this).find('.check').prop('checked', !isChecked);
			if($('.check').length == $('.checked', true).length){
				$('#allCheck').prop('checked', true);
			}else{
				$('#allCheck').prop('checked', false);
			}
		});
		
		$(document).on('click', '.check', function(e){
			e.stopPropagation();
			if($('.check').length == $('.check:checked').length){
				$('#allCheck').prop('checked', true);
			}else{
				$('#allCheck').prop('checked', false);
			}
		});
		
		$(document)
		
		
		</script>
	</th:block>
	
</html>







