<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default2}">
	  
	<!-- css file import head태그 안에 추가  -->
	<head>
		<!-- This Page CSS -->
		<style>
			.table-bordered, .table-bordered td, .table-bordered th {
				border-color: #bac6d0 !important;
			}
			.table-bordered thead{
				background-color: #dfe4fa !important;
				border-color: #bac6d0;
			}
			.border{
				border-color: #bac6d0 !important;
			}
			
		</style>
	</head>
	
	<!-- This Page breadcrumbTitle -->
	<th:block layout:fragment="customBreadcrumbTitle">
		<h4 class="page-title text-truncate text-dark font-weight-medium mb-3 h2">쿠폰관리</h4>
	</th:block>
	
	<!-- This Page breadcrumb -->
	<th:block layout:fragment="customBreadcrumb">	
		<li class="breadcrumb-item">
			<a th:href="@{/admin/coupon/getCouponKind}" class="text-muted h4">쿠폰지급내역</a>
		</li>
		<li class="breadcrumb-item text-muted active h4" aria-current="page">조회하기</li>
	</th:block>

	<!-- Start Page Content -->
	<th:block layout:fragment="customContent">
       	  <div class="card mb-4">
		    <div class="card-body">
		      <div class="row">
		        <div class="col-lg-10">
		          <div class="row mb-3">
		            <div class="col-lg-4">
		                <label class="form-label card-title font-weight-bolder">쿠폰이름</label>
		                <div class="input-group">
		                  <input type="text" class="form-control search-items" readonly="readonly" id="couponName" name="couponName">
		                  <button class="btn btn-info bg" type="button" data-toggle="modal" data-target="#search1-modal"><i class="fas fa-search"></i></button>
		                </div>
		            </div>&emsp;&emsp;&emsp;
		            <div class="col-lg-5">
		                <label class="form-label card-title font-weight-bolder">쿠폰가격</label>
		                <div class="input-group">
		                  <input placeholder="$" type="text" class="form-control search-items" name="couponMinPrice" id="couponMinPrice"><label>&emsp;이상</label>&emsp;&emsp;
		                  <input placeholder="$" type="text" class="form-control search-items" name="couponMaxPrice" id="couponMaxPrice"><label>&emsp;이하</label>
		                </div>		                
		            </div>
		          </div>
		        </div>
		        <div class="col-lg-2 align-self-center">
		          <div class="row justify-content-center">
		            <div class="col-8">
		              <button id="searchBtn2" class="btn btn-primary bg col-12 justify-content-center font-weight-bold display-2" type="button" style="height: 120px;">
		                <i class="fas fa-search mr-20" style="font-size: 25px;">&ensp;검색</i>
		              </button>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		  <div class="card mb-4">
		    <div class="card-body">
		    	<div class="row mb-3">
		    		<div class="col-sm-3 d-flex align-items-end">		    		
				    	<h5 class="card-title">
					    	[ 전체 &nbsp;
					    	<label id="listCnt" class="text-info mb-0">100</label> 건
					    	&nbsp;|&nbsp;  
					    	<label id="pageCnt" class="text-info mb-0">10</label> 건
					    	]
				    	</h5>
		    		</div>	    	
			    	<div class="col-sm-9">
			    		<div class="btn-list text-right">
                           <a type="button" class="btn btn-outline-success" id="addBtn" th:href="@{/admin/coupon/addCouponKind}"><i class="fas fas fa-pencil-alt"></i>
                               등록</a>
                           <button type="button" class="btn btn-outline-warning" id="modifyBtn"><i class="fas fa-undo"></i>
                               수정</button>
                           <button type="button" class="btn btn-outline-danger" id="delBtn"><i class="fas fa-trash-alt"></i>
                               삭제</button>
                       </div>
			    	</div>
		    	</div>
		    	
		    	<table class="table table-bordered table-hover text-center search-result">
                  <thead class="h5 text-dark">
                      <tr>
                      	  <th style="width: 5%;">
                            <input type="checkbox" id="allCheck">
                      	  </th>
                          <th class="font-weight-bolder">쿠폰 코드</th>
                          <th class="font-weight-bolder">쿠폰 이름</th>
                          <th class="font-weight-bolder">쿠폰 할인금액</th>
                          <th class="font-weight-bolder">쿠폰 사용기한</th>
                          <th class="font-weight-bolder">쿠폰종류 등록일자</th>
                          <th class="font-weight-bolder">등록자 아이디</th>
                      </tr>
                  </thead>
                  <tbody class="border text-dark" id="searchCouponTbodys">
		              <tr th:if="${adminCouponKind != null and not #lists.isEmpty(adminCouponKind)}"
		            	  th:each="l : ${adminCouponKind}">
	                 	<td style="width: 5%;">
	                    	<input type="checkbox" class="check">
	                  	</td>			              
		                <td th:text="${l.couponCode}"></td>
		                <td th:text="${l.couponName}"></td>
		                <td th:text="${l.couponPrice}"></td>
		                <td th:text="${l.couponDueDate}"></td>
		                <td th:text="${l.couponKindRegisterDate}"></td>
		                <td th:text="${l.memberId}"></td>
                      </tr>
                  </tbody>
                </table>
			    <div class="row justify-content-center mt-5">
			    	<div class="col-10">			    	
				    	<ul class="pagination justify-content-center">
		                   <li class="page-item disabled">
		                       <a class="page-link" href="#" tabindex="-1">Previous</a>
		                   </li>
		                   <li class="page-item active"><a class="page-link" href="#">1</a></li>
		                   <li class="page-item"><a class="page-link" href="#">2</a></li>
		                   <li class="page-item"><a class="page-link" href="#">3</a></li>
		                   <li class="page-item"><a class="page-link" href="#">4</a></li>
		                   <li class="page-item"><a class="page-link" href="#">5</a></li>
		                   <li class="page-item"><a class="page-link" href="#">6</a></li>
		                   <li class="page-item"><a class="page-link" href="#">7</a></li>
		                   <li class="page-item"><a class="page-link" href="#">8</a></li>
		                   <li class="page-item"><a class="page-link" href="#">9</a></li>
		                   <li class="page-item"><a class="page-link" href="#">10</a></li>
		                   <li class="page-item">
		                       <a class="page-link" href="#">Next</a>
		                   </li>
		               </ul>
			    	</div>
			    </div>
		    </div>
		  </div>
		  
		  <!-- search1 modal content -->
          <div id="search1-modal" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                  	  <div class="modal-header">
                          <h4 class="modal-title" id="modalTitle1">쿠폰이름검색</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      </div>
                      <div class="modal-body">
                         <div class="form-group row justify-content-center">                         	 
                            <label for="searchItem1" class="col-sm-3 col-form-label card-title font-weight-bolder">쿠폰이름</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="searchCouponName" placeholder="검색어를 입력해주세요">
                            </div>
                            <button class="btn btn-primary form-control col-sm-2 font-weight-bold" type="button" id="couponSearchBtn">
                            	<i class="fas fa-search">&ensp;검색</i>
                            </button>
                         </div>
                      </div>
                      <div class="modal-footer">
                      	 <div class="table-responsive">
                             <table class="table table-bordered table-hover text-center">
                                <thead class="text-dark font-weight-bolder">
                                    <tr>
                                        <th>쿠폰코드</th>
                                        <th>쿠폰이름</th>
                                        <th>등록자아이디</th>
                                    </tr>
                                </thead>
                                <tbody class="border border-dark searchTb1">
	          		 	 			<tr th:if="${adminCouponKind != null and not #lists.isEmpty(adminCouponKind)}"
			            	 			th:each="l : ${adminCouponKind}">
                                        <td th:text="${l.couponCode}"></td>
						                <td th:text="${l.couponName}"></td>
						                <td th:text="${l.memberId}"></td>
                                    </tr>
                                </tbody>
                              </table>
                          </div>
                      </div>
                  </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
	</th:block>
	<th:block layout:fragment="customJs">
		<script th:inline="javascript">		
		
			//couponSearchBtn click
			$(document).on('click', '#couponSearchBtn', function(){
				let searchCouponName = $('#searchCouponName').val();
				searchCouponName??'';
				const request = $.ajax({
					url:'/admin/coupon/searchForCouponName',
					method:'POST',
					data:{'searchCouponName' : searchCouponName},
					dataType:'json',
				});
				request.done(function(res){
					console.log(res);
					$('.searchTb1').html('');
					let content = '';
					$(res).each(function(idx, item){						
						content += `<tr>`;
						content += `	<td>${item.couponCode}</td>`;
						content += `	<td>${item.couponName}</td>`;
						content += `	<td>${item.memberId}</td>`;
						content += `</tr>`;						
					});
					$('.searchTb1').html(content);
					
				});
				request.fail(function( jQXHR, textStatus, err){
					console.log(err);
				})
			});
		
			// modal searchTb1 처리
			$(document).on('click', '.searchTb1 tr', function(){
				
				const couponName = $(this).children().eq(1).text();
				$('#couponName').val(couponName);
				$('#search1-modal').modal('hide');
			});
			
			// 최종 검색 버튼
			$(document).on('click','#searchBtn2', function(){
				//const searchValue = $('#searchValue').val();
				const searchArr = [];
				$('.search-items').each(function(idx, item){
					const searchObj = {};
					searchObj.searchKey = item.id;
					searchObj.searchValue = item.value;
					searchArr.push(searchObj);
				});
				console.log(searchArr);
				
				const request = $.ajax({
					url : '/admin/coupon/searchForCouponPrice',
					method : 'POST',
					contentType : 'application/json; charset=UTF-8',
					data: JSON.stringify(searchArr),
					dataType: 'JSON'
				});
				request.done(function(res){
					console.log(res)
					const searchList = res;
					$('#searchCouponTbodys').html('');
					if(searchList == null || searchList.length < 1){
						const newTr = $('<tr />');
						const newTd = $('<td />',{'colspan': 7}).text('검색에 일치되는 내용이 없습니다.');
						newTr.append(newTd);
						$('#searchCouponTbodys').append(newTr);
						return;
					}
					$(searchList).each(function(idx, item){
						const newTr = $('<tr />');
						const checkBox = $('<input />', { type:'checkbox', class:'check'});
						const newTdCheckBox = 					$('<td />').html(checkBox);
						const newTdcouponCode = 				$('<td />').text(item.couponCode);
						const newTdcouponName = 				$('<td />').text(item.couponName);
						const newTdcouponPrice = 				$('<td />').text(item.couponPrice);
						const newTdcouponDueDate = 				$('<td />').text(item.couponDueDate);
						const newTdcouponKindRegisterDate = 	$('<td />').text(item.couponKindRegisterDate);
						const newTdmemberId = 					$('<td />').text(item.memberId);
						
						newTr.append(newTdCheckBox,
									 newTdcouponCode,
									 newTdcouponName,
									 newTdcouponPrice,
									 newTdcouponDueDate,
									 newTdcouponKindRegisterDate,
									 newTdmemberId);
						
						$('#searchCouponTbodys').append(newTr);
					});					
					
				});
				request.fail(function(jQXHR, textStatus, error){
					console.log(error);
				});
			
			});
			
			
			
			// 검색결과 tbody 이벤트
			$(document).on('click', '.search-result tbody tr', function(e){
				e.stopPropagation();
				const isChecked = $(this).find('.check').prop('checked');
				$(this).find('.check').prop('checked', !isChecked);
				if($('.check').length == $('.check:checked').length){
					$('#allCheck').prop('checked', true);
				}else{
					$('#allCheck').prop('checked', false);
				}
			});
			
			// 검색결과 tbody check box 이벤트
			$(document).on('click', '.check', function(e){
				e.stopPropagation();
				if($('.check').length == $('.check:checked').length){
					$('#allCheck').prop('checked', true);
				}else{
					$('#allCheck').prop('checked', false);
				}
			});
			
			// 전체체크
			$(document).on('click', '#allCheck', function(){
				const isChecked = $(this).prop('checked');
				$('.check').prop('checked', isChecked);
			});	
			
			// 수정버튼
			$(document).on('click', '#modifyBtn', function(){
				const checkLength = $('.check:checked').length;
				if(checkLength > 1) {
					alert('한개만 선택해주세요.')
					return;
				}
				
			});
			
			
			
				
			
		</script>
	</th:block>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</html>