<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default2}">
	  
	<!-- css file import head태그 안에 추가  -->
	<head>
		<!-- This Page CSS -->
		<style>
			.border{
				border-color: #bac6d0 !important;
			}
			.add-form{
				align-items: center;
			}
			.add-form-label{	
				background-color: #dfe4fa !important;
				display : flex;
				justify-content: center;
				align-items: center;
				color: #4b026e;
				height: 50px;
				font-size: 18px;
				font-weight: 600;
			}
			.textarea-form{	
				background-color: #dfe4fa !important;
				display : flex;
				justify-content: center;
				align-items: center;
				color: #4b026e;
				height: 150px;
				font-size: 18px;
				font-weight: 600;
			}
			.row .add-form {
				margin-top: 0;
			}
			.border-start{
				border-left : 1px solid  #bac6d0 !important; 
			}
			.border-end{
				border-right : 1px solid  #bac6d0 !important; 
			}
			textarea[class="form-control"] {
				height: 135px;
			}
			
		</style>
	</head>
	
	<!-- This Page breadcrumbTitle -->
	<th:block layout:fragment="customBreadcrumbTitle">
		<h4 class="page-title text-truncate text-dark font-weight-medium mb-3 h2">등록템플릿</h4>
	</th:block>
	
	<!-- This Page breadcrumb -->
	<th:block layout:fragment="customBreadcrumb">	
		<li class="breadcrumb-item">
			<a th:href="@{/default/page1}" class="text-muted h4">페이지템플릿</a>
		</li>
		<li class="breadcrumb-item text-muted active h4" aria-current="page">addPage</li>
	</th:block>

	<!-- Start Page Content -->
	<th:block layout:fragment="customContent">
		<form id="modifyMemberForm" method="post" th:action="@{/admin/member/modifyMember}">
			<div class="card mb-4">
				<div class="card-body ml-4 mr-4">
					
					<div class="row border add-form">
						<div class="col-2 add-form-label border-end">아이디</div>
						<div class="col-2">
							<input type="text" class="form-control" id="memberId" name="memberId"  >
						</div>
						<div>
							<button type="button" id="checkIdBtn">중복아이디체크</button>
						</div>
						<div class="col-2 add-form-label border-end">비밀번호</div>
						<div class="col-4">
							<input type="text" class="form-control" id="memberPw" name="memberPw">
						</div>
					</div>
					<div class="row border add-form">
						<div class="col-2 add-form-label border-end">이름</div>
						<div class="col-4">
							<input type="text" class="form-control" id="memberName" name="memberName"   >
						</div>
						<div class="col-2 add-form-label border-end">성별</div>
						<div class="col-4">
							<div class="form-check form-check-inline">
		                        <div class="custom-control custom-radio">
		                            <input type="radio" class="custom-control-input" id="memberMale" name="memberGender" value="남자" checked />
		                            <label class="custom-control-label" for="memberMale">남자</label>
		                            
		                        </div>
		                    </div>
		                    <div class="form-check form-check-inline">
		                        <div class="custom-control custom-radio">
		                        	<input type="radio" class="custom-control-input" id="memberFemale" name="memberGender" value="여자">
		                            <label class="custom-control-label" for="memberFemale">여자</label>
		                        </div>
	                        </div>
						</div>
					</div>
					<div class="row border add-form">
						<div class="col-2 add-form-label border-end">회원등급</div>
						<div class="col-5">
							<select  id="mem_level_code" name="mem_level_code" class="form-control text-center">
								<option value="">==회원등급을 선택해주세요==</option>
								<th:block th:if="${memberLevelList != null and not #lists.isEmpty(memberLevelList)}"
										  th:each="l : ${memberLevelList}" >
									<option th:value="${l.mem_level_code}" th:text="${l.membership_rating}"></option>
							</select>
						</div>
					</div>
					<div class="row border add-form">
						<div class="col-2 add-form-label border-end">이메일</div>
						<div class="col-4">
							<input type="email" id="memberEmail" name="memberEmail"  class="form-control"
									   placeholder="예시: example@email.com " />
						</div>
						<div class="col-2 add-form-label border-end">전화번호</div>
						<div class="col-4">
							<input type="text" id="memberPhone" name="memberPhone"   class="form-control"
									   placeholder="예시: 010-1234-5678" />
						</div>
					</div>
					<div class="row border add-form">
						<div class="col-2 add-form-label border-end">생년월일</div>
						<div class="col-5">
							<input type="date" class="form-control" placeholder="예시: 2000-01-01"  id="memberBirth" name="memberBirth">
						</div>
					</div>
					<div class="row border add-form">
						<div class="col-2 add-form-label border-end">주소</div>
						<div class="col-10 ">
							<input type="text" id="memberAddr" name="memberAddr" class="form-control" placeholder=" 주소를 입력해주세요" />
						</div>
					</div>
					<div class="row mt-4">
						<div class="col-sm-3"></div>
						<div class="col-sm-9">
					   		<div class="btn-list text-right">
			                    <a type="button" class="btn btn-outline-info" id="listBtn" th:href="@{/admin/member/getMember}"><i class=" fas fa-clipboard-list"></i>
			                        목록</a>
			                    <button type="button" class="btn btn-outline-success" id="addMemberBtn"><i class="fas fas fa-pencil-alt"></i>
			                        등록</button>
			                    <button type="reset" class="btn btn-outline-warning" id="resetBtn"><i class="fas fa-undo"></i>
			                        재설정</button>
			                </div>
					   	</div>
					</div>
				</div>
			</div>
		</form>
	</th:block>
	<!-- 이 페이지에서 사용될 js file 경로 -->
	<th:block layout:fragment="customJsFile">
	</th:block>
	<th:block layout:fragment="customJs">
		<script>
		
		$(document).ready(function () {
		    // HTML 문서가 완전히 로드되면 실행되는 함수

		    // 아이디 중복 체크 버튼이 클릭되면 실행되는 함수
		    $('#checkIdBtn').click(function () {
		        // 입력된 회원 아이디를 가져옴
		        const memberId = $('#memberId').val();
		        if (memberId == null || memberId === '') {
		            // 회원 아이디가 비어있으면 경고 메시지 출력
		            alert('회원 아이디를 입력해주세요');
		            $('#memberId').focus();
		            return;
		        }

		        // 중복 아이디 체크를 위한 AJAX 요청
		        const request = $.ajax({
		            url: '/admin/member/checkId',
		            method: 'POST',
		            data: {'memberId': memberId},
		            dataType: 'JSON'
		        });

		        // AJAX 요청이 성공했을 때 실행되는 함수
		        request.done(function (res) {
		            // 서버에서 받은 응답 데이터를 isDuplicate 변수에 저장
		            const isDuplicate = res;
		            console.log(isDuplicate);

		            // 중복된 아이디가 존재하는 경우
		            if (isDuplicate) {
		                // 경고 메시지 출력 및 포커스 설정
		                $('#checkAlert').text('입력하신 아이디로 회원가입이 불가합니다.').css('color', 'red');
		                $('#memberId').focus();
		            } else {
		                // 중복이 아닌 경우
		                // 폼 요소들을 활성화하고 안내 메시지 출력
		                $('#addMemberForm input').prop('disabled', false);
		                $('#addMemberForm button').prop('disabled', false);
		                $('#addMemberForm select').prop('disabled', false);
		                $('#checkAlert').text('사용 가능한 아이디입니다.').css('color', 'green');
		            }
		        });

		        // AJAX 요청이 실패했을 때 실행되는 함수
		        request.fail(function (jQXHR, textStatus, error) {
		            console.log(error);
		        });
		    });
		});

			// 초기화버튼 이벤트
			$('#resetBtn').click(function(e){
				e.preventDefault();
				$('#addMemberForm input').not('#memberId').prop('disabled', true);
				$('#addMemberForm button').not('#checkIdBtn').prop('disabled', true);
				$('#addMemberForm select').prop('disabled', true);
				$('#checkAlert').text('');
				$('#addMemberForm input').val('');
			});
			
			// 유효성검사
		$('#addMemberBtn').click(function(){
			let isValid = true;
			
			$('#addMemberForm input, #addMemberForm select').each(function(idx, item){
				const value = $(item).val();
				if(value == null || value == ''){
					isValid = false;
					const cate = $(`label[for="${item.id}"]`).text();
					let msg = `${cate} 필수 입력항목입니다.`;
					alert(msg);
					$(item).focus();
					return false;
				}
			})
			
			if(isValid) $('#addMemberForm').submit();
		});
	 
	
</script>
</html>




