<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default2}">
	  
	<!-- css file import head태그 안에 추가  -->
	<head>
				 <title th:text="${title}">페이지 타이틀</title>

		<!-- This Page CSS -->
		<style>
			.border{
				border-color: #bac6d0 !important;
			}
			.add-form{
				align-items: center;
			}
			.add-form-label{	
				background-color: #dfe4fa !important;
				display : flex;
				justify-content: center;
				align-items: center;
				color: #4b026e;
				height: 50px;
				font-size: 18px;
				font-weight: 600;
			}
			.textarea-form{	
				background-color: #dfe4fa !important;
				display : flex;
				justify-content: center;
				align-items: center;
				color: #4b026e;
				height: 150px;
				font-size: 18px;
				font-weight: 600;
			}
			.row .add-form {
				margin-top: 0;
			}
			.border-start{
				border-left : 1px solid  #bac6d0 !important; 
			}
			.border-end{
				border-right : 1px solid  #bac6d0 !important; 
			}
			textarea[class="form-control"] {
				height: 135px;
			}
			
		</style>
	</head>
	
	<!-- This Page breadcrumbTitle -->
	<th:block layout:fragment="customBreadcrumbTitle">
				  <h4 class="page-title text-truncate text-dark font-weight-medium mb-3 h2" th:text="${title}">Default Title</h4>

	</th:block>
	
	<!-- This Page breadcrumb -->
	<th:block layout:fragment="customBreadcrumb">	
		<li class="breadcrumb-item">
					<a th:href="@{/admin/member/getMember}" class="text-muted h4">회원목록</a>
		</li>
		<li class="breadcrumb-item text-muted active h4" aria-current="page">회원수정</li>
	</th:block>

	<!-- Start Page Content -->
	<th:block layout:fragment="customContent">
		<form id="modifyMemberForm" method="post" th:action="@{/admin/member/modifyMember}">
			<div class="card mb-4" th:object="${memberInfo}">
				<div class="card-body ml-4 mr-4">
					
					<div class="row border add-form">
						<div class="col-2 add-form-label border-end">아이디</div>
						<div class="col-4">
							<input type="text" class="form-control" id="memberId" name="memberId"  readonly="readonly" 
								   th:value="*{memberId}">
						</div>
						<div class="col-2 add-form-label border-end">비밀번호</div>
						<div class="col-4">
							<input type="text" class="form-control" id="memberPw" name="memberPw"
								   th:value="*{memberPw}">
						</div>
					</div>
					<div class="row border add-form">
						<div class="col-2 add-form-label border-end">이름</div>
						<div class="col-4">
							<input type="text" class="form-control" id="memberName" name="memberName"
								   th:value="*{memberName}">
						</div>
						<div class="col-2 add-form-label border-end">성별</div>
						<div class="col-4">
							<div class="form-check form-check-inline">
		                        <div class="custom-control custom-radio">
		                            <input type="radio" class="custom-control-input" id="memberMale" name="memberGender" value="남자" checked />
		                            <label class="custom-control-label" for="memberMale">남자</label>
		                            
		                        </div>
		                    </div>
		                    <div class="form-check form-check-inline">
		                        <div class="custom-control custom-radio">
		                        	<input type="radio" class="custom-control-input" id="memberFemale" name="memberGender" value="여자">
		                            <label class="custom-control-label" for="memberFemale">여자</label>
		                        </div>
	                        </div>
						</div>
					</div>
					<div class="row border add-form">
						<div class="col-2 add-form-label border-end">회원등급</div>
						<div class="col-4">
							<select  id="mem_level_code" name="mem_level_code" class="form-control text-center">
								<option value="">회원등급을 선택해주세요</option>
								<th:block th:if="${memberLevelList != null and not #lists.isEmpty(memberLevelList)}"
										  th:each="l : ${memberLevelList}" >
									<option th:value="${l.mem_level_code}" th:text="${l.membership_rating}"></option>
							</select>
						</div>
						<div class="col-2 add-form-label border-end">적립등급</div>
						<div class="col-4">
							<select class="form-control text-center" id="roompay_mileage_rate_code" name="roompay_mileage_rate_code">
							    <option value="">적립등급을 선택해주세요</option>
							    <th:block th:if="${memberMileage != null and not #lists.isEmpty(memberMileage)}" th:each="ml : ${memberMileage}">
							        <option th:value="${ml.roompayMileageRate.roompay_mileage_rate_code}" th:text="${ml.roompayMileageRate.mileage_grade_name}"></option>
							    </th:block>
							</select>
						</div>
					</div>
					
					<div class="row border add-form">
						<div class="col-2 add-form-label border-end">이메일</div>
						<div class="col-4">
							<input type="email" id="memberEmail" name="memberEmail" th:value="*{memberEmail}"  class="form-control"
									   placeholder="예시: example@email.com " />
						</div>
						<div class="col-2 add-form-label border-end">전화번호</div>
						<div class="col-4">
							<input type="text" id="memberPhone" name="memberPhone"  th:value="*{memberPhone}"  class="form-control"
									   placeholder="예시: 010-1234-5678" />
						</div>
					</div>
					<div class="row border add-form">
						<div class="col-2 add-form-label border-end">생년월일</div>
						<div class="col-4">
							<input type="date" class="form-control" placeholder="예시: 2000-01-01"  th:value="*{memberBirth}"  id="memberBirth" name="memberBirth">
						</div>
					
					<div class="col-2 add-form-label border-end">우편번호</div>
					<div class="col-2">
						<input  type="text" class="form-control" name="zipCode" id="zipCode">
					</div>
					<div class="col-2">
						<button class="btn btn-outline-info" type="button" id="addressBtn"><i class="fas fa-search">&ensp;우편번호검색</i></button>
					</div>	
				</div>
				<div class="row border add-form">
					<div class="col-2 add-form-label border-end">주소</div>
					<div class="col-4">
							<input type="text" id="memberAddr" name="memberAddr" class="form-control"  th:value="*{memberAddr}" placeholder=" 주소를 입력해주세요" />
					</div>
					<div class="col-5">
						<input  type="text" class="form-control" name="member_addr_detail" id="member_addr_detail" th:value="*{member_addr_detail}"placeholder="상세주소를 입력해주세요.">
					</div>
				</div>
				
					<div class="row mt-4">
						<div class="col-sm-3"></div>
						<div class="col-sm-9">
					   		<div class="btn-list text-right">
			                    <a type="button" class="btn btn-outline-info" id="listBtn" th:href="@{/admin/member/getMember}"><i class=" fas fa-clipboard-list"></i>
			                        목록</a>
			                    <button type="submit" class="btn btn-outline-success" id="modifyBtn"><i class="fas fas fa-pencil-alt"></i>
			                        수정</button>
			                    <button type="reset" class="btn btn-outline-warning" id="resetBtn"><i class="fas fa-undo"></i>
			                        재설정</button>
			                </div>
					   	</div>
					</div>
				</div>
			</div>
		</form>
	<!-- 
	<div class="card mb-4">
		<form id="modifyMemberForm" method="post" th:action="@{/admin/member/modifyMember}">		
			<div class="card-body ml-4 mr-4">
				<div class="row mb-3">
					<div class="col-sm-3"></div>
					<div class="col-sm-9">
				   		<div class="btn-list text-right">
		                    <a type="button"  class="btn btn-outline-info" id="listBtn" th:href="@{/admin/member/getMember}"><i class=" fas fa-clipboard-list"></i>
		                        목록</a>
		                    <button type="submit" id="modifyMemberBtn" class="btn btn-outline-success"><i class="fas fas fa-pencil-alt"></i>
		                        회원수정</button>
		                    <button type="reset" id="resetBtn" class="btn btn-outline-warning"><i class="fas fa-undo"></i>
		                        다시작성</button>
		                </div>
				   	</div>
				</div>
				
			<table th:object="${memberInfo}">
				<tbody>
						<tr class="row border add-form">
						<td  class="col-4 add-form-label border-end">
							<label for="memberId">아이디</label>
						</td>
						<td>
							<input type="text" id="memberId" name="memberId"  readonly="readonly" th:value="*{memberId}"
								   placeholder=" 입력해주세요" />
						</td>
						<td>
						</td>
					</tr>
						<tr class="row border add-form">
						<td  class="col-4 add-form-label border-end">
							<label for="mem_level_code" >회원등급</label>
						</td>
						<td colspan="2">
							<select   id="mem_level_code" name="mem_level_code"  >
								<option value="">===회원등급을 선택해주세요===</option>
								<th:block th:if="${memberLevelList != null and not #lists.isEmpty(memberLevelList)}"
										  th:each="l : ${memberLevelList}" >
									<option th:value="${l.mem_level_code}" th:text="${l.membership_rating}"></option>
							</select>
							</td>
					</tr>
				<!-- 	<tr>
					<tr>
						<td>
							<label for="membership_rating">회원등급</label>
						</td>
						<td colspan="2">
							<select id="membership_rating" name="membership_rating">
								<option value="">===회원등급을 선택해주세요===</option>
								<th:block th:if="${addMember != null and not #lists.isEmpty(addMember)}"
										  th:each="l : ${addMember}">
									<option th:value="${l.membership_rating}" th:text="${l.membership_rating}"></option>
							</select>
							</td>
					</tr>
		<!-- 			<tr>
						<td>
							<label for="membership_rating">membership_rating</label>
						</td>
						<td>
							<input type="text" id="membership_rating" name="membership_rating" 
								   placeholder="입력해주세요" />
						</td>
					</tr>
					<tr class="row border add-form">
						<td  class="col-4 add-form-label border-end">
							<label for="memberPw">비밀번호</label>
						</td>
						<td>
							<input type="password" id="memberPw" name="memberPw" th:value="*{memberPw}" 
								   placeholder=" 비밀번호를 입력해주세요" />
						</td>
					</tr>
						<tr class="row border add-form">
						<td  class="col-4 add-form-label border-end">
							<label for="memberEmail">이메일</label>
						</td>
						<td>
							<input type="email" id="memberEmail" name="memberEmail" th:value="*{memberEmail}" 
								   placeholder="예시: example@email.com " />
						</td>
					</tr>
						<tr class="row border add-form">
						<td  class="col-4 add-form-label border-end">
							<label for="memberName">이름</label>
						</td>
						<td>
							<input type="text" id="memberName" name="memberName"  th:value="*{memberName}" 
								   placeholder=" 이름을 입력해주세요" />
						</td>
					</tr>
						<tr class="row border add-form">
						<td  class="col-4 add-form-label border-end">
							<label for="memberBirth">생년월일</label>
						</td>
						<td>
							<input type="date" id="memberBirth" name="memberBirth"  th:value="*{memberBirth}" 
							 placeholder="예시: 2000-01-01" />
						</td>
					</tr>
						<tr class="row border add-form">
						<td  class="col-4 add-form-label border-end">
							<label for="memberGender">성별</label>
						</td>
						<td>
						<!-- <input type=radio id="memberGender" name="memberGender" value="남자" checked="checked" >남자
          			 	<input type=radio id="memberGender" name="memberGender" value="여자" >여자 -->
						<!-- </td>
					</tr>
						<tr class="row border add-form">
						<td  class="col-4 add-form-label border-end">
							<label for="memberPhone">전화번호</label>
						</td>
						<td>
							<input type="text" id="memberPhone" name="memberPhone"  th:value="*{memberPhone}" 
								   placeholder="예시: 010-1234-5678" />
						</td>
					</tr>
						<tr class="row border add-form">
						<td  class="col-4 add-form-label border-end">
							<label for="memberAddr">주소</label>
						</td>
						<td>
							<input type="text" id="memberAddr" name="memberAddr"  th:value="*{memberAddr}" 
								   placeholder=" 주소를 입력해주세요" />
						</td>
					</tr> -->
				<!-- 	<tr>
						<td>
							<label for="member_regdate">member_regdate</label>
						</td>
						<td>
							<input type="text" id="member_regdate" name="member_regdate" 
								   placeholder=" 입력해주세요" />
						</td>
					</tr>
					<!-- <tr>
						<td>
							<label for="final_mileage">final_mileage</label>
						</td>
						<td>
							<input type="text" id="final_mileage" name="final_mileage" 
								   placeholder=" 입력해주세요" />
						</td>
					</tr>
					<tr>
				<!-- 	<tr>
						<td>
							<label for="accumulated_payment_amount">accumulated_payment_amount</label>
						</td>
						<td>
							<input type="text" id="accumulated_payment_amount" name="accumulated_payment_amount" 
								   placeholder=" 입력해주세요" />
						</td>
					</tr>
					<tr>
				<!-- 		<td>
							<label for="memberState">memberState</label>
						</td>
						<td>
							<input type="text" id="memberState" name="memberState" 
								   placeholder=" 입력해주세요" />
						</td>
					</tr>
				</tbody>
				
				
				<tfoot>
					<tr>
						<td colspan="3">
							<button type="submit" id="modifyMemberBtn">회원수정</button>
							<button type="reset"  id="resetBtn" >초기화</button>
						</td>
					</tr>
				</tfoot>
				
			</table>
					
		</form>
		</div>
				</div>
		 -->
	</th:block>
	
	<!-- 이 페이지에서 사용될 js file 경로 -->
	<th:block layout:fragment="customJsFile">
	</th:block>
	<th:block layout:fragment="customJs">
						<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

		<script>
			
			
			// 전화번호 입력 필드에 사용자가 키를 누를 때마다 실행되는 함수
$('#memberPhone').on('input', function() {
    // 현재 입력된 전화번호
    var inputPhone = $(this).val();

    // 숫자만 남기고 나머지는 제거
    var cleanedPhone = inputPhone.replace(/[^0-9]/g, '');

    // 전화번호를 형식에 맞게 나누기 (예: 010-1234-5678)
    var formattedPhone = cleanedPhone.replace(/(\d{3})(\d{4})(\d{4})/, '$1-$2-$3');

    // 형식이 적용된 전화번호를 다시 입력 필드에 설정
    $(this).val(formattedPhone);

    // 전화번호 길이 체크 (예: 13자리 초과 시 팝업 메시지 표시)
    if (cleanedPhone.length > 13) {
        // 길이가 13자 초과일 경우 입력을 제한하고 팝업 메시지 표시
        $(this).val(formattedPhone.slice(0, 13)); // 13자 이후의 문자 제거
        alert('전화번호는 13자리를 초과할 수 없습니다.');
    }
});

				$('#addressBtn').click(function(){    
    const width = 500; // 팝업의 너비
    const height = 600; // 팝업의 높이
    new daum.Postcode({
        oncomplete: function(data) {
            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

            // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
            var roadAddr = data.roadAddress; // 도로명 주소 변수
            var extraRoadAddr = ''; // 참고 항목 변수

            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                extraRoadAddr += data.bname;
            }
            // 건물명이 있고, 공동주택일 경우 추가한다.
            if(data.buildingName !== '' && data.apartment === 'Y'){
                extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
            }
            // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
            if(extraRoadAddr !== ''){
                extraRoadAddr = ' (' + extraRoadAddr + ')';
            }

            // 우편번호와 주소 정보를 해당 필드에 넣는다.
            		                document.getElementById('zipCode').value = data.zonecode;

            document.getElementById('memberAddr').value = roadAddr; // 여기를 memberAddr로 수정
        }
    }).open({
        left: (window.screen.width / 2) - (width / 2),
        top: (window.screen.height / 2) - (height / 2)
    });
});
</script>
</html>




