<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks49team01.admin.mapper.AdminReviewMapper">

	<resultMap type="AdminReview" id="reviewResultMap">
		<id column="review_num" property="reviewNum"/>
		<result column="review_num" 				property="reviewNum"/>
		<result column="member_id" 					property="memberId"/>
		<result column="room_code" 				property="roomCode"/>
		<result column="visit_date" 			property="visitDate"/>
		<result column="review_context" 			property="reviewContext"/>
		<result column="review_date" 			property="reviewDate"/>
		<result column="review_views" 			property="reviewViews"/>
		
	</resultMap>
	
 	<select id="getReviewList" resultMap="reviewResultMap">
		SELECT
			r.review_num,
			r.member_id,
			r.room_code,
			r.visit_date,
			r.review_context,
			r.review_date,
			r.review_views
		FROM
			review AS r;
 	</select>
 	
 		<resultMap type="AdminReviewCategory" id="moodCategoryResultMap">
		<id column="mood_code" property="moodCode"/>
		<result column="mood_code" 					property="moodCode"/>
		<result column="member_id" 				property="memberId"/>
		<result column="mood_register_date" 				property="moodRegisterDate"/>
		<result column="mood_category_context" 			property="moodCategoryContext"/>
		
	</resultMap>
	
 	<select id="getReviewMoodCategory" resultMap="moodCategoryResultMap">
		SELECT
			rmc.mood_code,
			rmc.member_id,
			rmc.mood_register_date,
			rmc.mood_category_context
		FROM
			review_mood_category AS rmc;
 	</select>
 	
 		<resultMap type="AdminReviewCategory" id="facilityCategoryResultMap">
		<id column="facility_code" property="facilityCode"/>
		<result column="facility_code" 					property="facilityCode"/>
		<result column="member_id" 				property="memberId"/>
		<result column="facility_register_date" 				property="facilityRegisterDate"/>
		<result column="facility_category_context" 			property="facilityCategoryContext"/>
	</resultMap>
	
 	<select id="getReviewFacilityCategory" resultMap="facilityCategoryResultMap">
		SELECT
			rfc.facility_code,
			rfc.member_id,
			rfc.facility_register_date,
			rfc.facility_category_context
		FROM
			review_facility_category AS rfc;
 	</select>
</mapper>