<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks49team01.admin.mapper.AdminReviewMapper">

	<resultMap type="AdminReview" id="reviewResultMap">
		<id column="review_num" 				property="reviewNum"/>
		<result column="member_id" 				property="memberId"/>
		<result column="branch_code" 			property="branchCode"/>
		<result column="payments_due_code" 		property="paymentsDueCode"/>
		<result column="stay_period_code" 		property="stayPeriodCode"/>
		<result column="room_code" 				property="roomCode"/>
		<result column="review_context" 		property="reviewContext"/>
		<result column="review_date" 			property="reviewDate"/>
		<result column="review_views" 			property="reviewViews"/>
		<result column="review_file_code" 		property="reviewFileCode"/>
		<result column="file_attribute" 		property="fileAttribute"/>
		
	</resultMap>
	
 	<select id="getReviewList" resultMap="reviewResultMap">
		SELECT
			r.review_num,
			r.member_id,
			r.review_context,
			rf.file_attribute,
			r.review_date,
			r.review_views
		FROM
			review AS r
			INNER JOIN
			review_file AS rf
			ON
			r.review_file_code = rf.review_file_code
 	</select>
 	
 	<select id="getReviewContext" resultMap="reviewResultMap">
		SELECT
			r.review_num,
			r.member_id,
			r.review_context,
			rf.file_attribute,
			r.review_date,
			r.review_views
		FROM
			review AS r
			INNER JOIN
			review_file AS rf
			ON
			r.review_file_code = rf.review_file_code
		<where>
			<if test="searchReviewContext != null and searchReviewContext != ''">
				r.review_context LIKE CONCAT('%', #{searchReviewContext}, '%')
			</if>
		</where>				
 	</select> 	
 	
 	<resultMap type="AdminReviewCategory" id="CategoryResultMap">
		<id column="category_code" 						property="categoryCode"/>
		<result column="member_id" 						property="memberId"/>
		<result column="review_category_kind" 			property="reviewCategoryKind"/>
		<result column="review_category_context" 		property="reviewCategoryContext"/>
		<result column="review_category_register_date" 	property="reviewCategoryRegisterDate"/>	
	</resultMap>
	
 	<select id="getReviewCategory" resultMap="CategoryResultMap">
		SELECT
			rc.category_code,
			rc.member_id,
			rc.review_category_kind,
			rc.review_category_context,
			rc.review_category_register_date
		FROM
			review_category AS rc;		
 	</select>
 	
 	<select id="getSearchCategory" resultMap="CategoryResultMap" parameterType="list"> 	
		SELECT
			rc.category_code,
			rc.member_id,
			rc.review_category_kind,
			rc.review_category_context,
			rc.review_category_register_date
		FROM
			review_category AS rc		
		<where>
			<foreach collection="paramList" item="item">
				<if test="item.searchKey != null and item.searchKey != ''">
					AND ${item.searchKey} LIKE CONCAT('%', #{item.searchValue} ,'%')		
				</if>
			</foreach>
		</where>	
	</select>
</mapper>