<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks49team01.admin.mapper.AdminReviewMapper">

	<resultMap type="AdminReview" id="reviewResultMap">
		<id column="review_num" property="reviewNum"/>
		<result column="review_num" 				property="reviewNum"/>
		<result column="member_id" 					property="memberId"/>
		<result column="room_code" 				property="roomCode"/>
		<result column="visit_date" 			property="visitDate"/>
		<result column="review_context" 			property="reviewContext"/>
		<result column="review_date" 			property="reviewDate"/>
		<result column="review_views" 			property="reviewViews"/>
		
	</resultMap>
	
 	<select id="getReviewList" resultMap="reviewResultMap">
		SELECT
			r.review_num,
			r.member_id,
			r.room_code,
			r.visit_date,
			r.review_context,
			r.review_date,
			r.review_views
		FROM
			review AS r;
 	</select>
</mapper>