<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks49team01.admin.mapper.AdminInquiryBoardmapper">

<resultMap type="AdminInquiryBoard" id="adminInquiryBoard">
<!-- <id column="" property=""/>
<id column="" property=""/>
<id column="" property=""/>
<id column="" property=""/>
<id column="" property=""/>
<id column="" property=""/>
<id column="" property=""/> -->
<id column="inquiry_board_code" property="inquiry_board_code"/>
<id column="branch_code" property="branch_code" />
<id column="member_id" property="member_id"/>
<id column="inquiry_board_title" property="inquiry_board_title"/>
<id column="inquiry_board_content" property="inquiry_board_content"/>
<id column="inquiry_board_reg_time" property="inquiry_board_reg_time"/>
<association property="adminUserLevel" javaType="AdminUserLevel">
    <!-- id: 테이블의 PK컬럼 -->
    <id column="mem_level_code" property="mem_level_code"/>
    <!-- result: 테이블의 PK컬럼을 제외한 컬럼 -->
    <result column="member_id" property="member_id"/>
    <result column="membership_rating" property="membership_rating"/>
    <result column="System_registration_time" property="System_registration_time"/>
</association>

		<association property="userBranchManagement" javaType="UserBranchManagement">
    <!-- id: 테이블의 PK컬럼 -->
    <id column="branch_code" property="branch_code"/>
    <!-- result: 테이블의 PK컬럼을 제외한 컬럼 -->
    <result column="branch_code" property="branch_code"/>
    <result column="branch_name" property="branch_name"/>
</association>
</resultMap>
<update id="modifyadminInquiryBoardList" parameterType="adminInquiryBoard">
		/* 특정회원 수정 */
		UPDATE inquiry_board
		<set>
			<if test="inquiry_board_code != null and inquiry_board_code != ''">
				inquiry_board_code=#{inquiry_board_code},
			</if>
		<!--	<if test="branch_code != null and branch_code != ''">
				branch_code=#{branchCode},
			</if>-->
			<if test="member_id != null and member_id != ''">
				member_id=#{member_id},
			</if>
			<if test="inquiry_board_title != null and inquiry_board_title != ''">
				inquiry_board_title=#{inquiry_board_title},
			</if>
			<if test="inquiry_board_content != null and inquiry_board_content != ''">
				inquiry_board_content=#{inquiry_board_content},
			</if>
			<if test="inquiry_board_reg_time != null and inquiry_board_reg_time != ''">
				inquiry_board_reg_time=#{inquiry_board_reg_time},
			</if>
		</set>	
		WHERE 
			inquiry_board_code=#{inquiry_board_code};
	</update>

<select id="adminInquiryBoardIfno" resultMap="adminInquiryBoard" >
	SELECT inquiry_board_code, member_id, inquiry_board_title, inquiry_board_content, inquiry_board_reg_time
	FROM inquiry_board
			  WHERE inquiry_board_code = #{inquiry_board_code};
</select>
<insert id="addInquiryBoardList" parameterType="AdminInquiryBoard" useGeneratedKeys="true" keyProperty="inquiry_board_code">
	<selectKey keyProperty="inquiry_board_code" resultType="String" order="BEFORE">
	SELECT
CASE
WHEN COUNT(ib.inquiry_board_code) = 0 THEN 'inquiry_board_code_1'
ELSE
CONCAT('inquiry_board_code_',(MAX(CAST(SUBSTRING_INDEX(ib.inquiry_board_code,'inquiry_board_code_', -1) AS UNSIGNED))+1))
END AS inquiry_board_code
FROM
inquiry_board AS ib
</selectKey>
	
	INSERT INTO inquiry_board
	(inquiry_board_code, member_id, inquiry_board_title, inquiry_board_content, inquiry_board_reg_time)
		VALUES (#{inquiry_board_code}, #{member_id}, #{inquiry_board_title}, #{inquiry_board_content}, NOW())
</insert>

<select id="getSearchForInquiryList" resultMap="adminInquiryBoard" >
SELECT
   CAST(SUBSTRING_INDEX(ib.inquiry_board_code, '_', -1) AS SIGNED) AS inquiry_board_code,
  ib.member_id,
  ib.branch_code,
  ib.inquiry_board_title,
  ib.inquiry_board_content,
  ib.inquiry_board_reg_time
FROM
  inquiry_board AS ib
ORDER BY 
  inquiry_board_code ASC,
  SUBSTRING_INDEX(ib.inquiry_board_code, '_', 1) ASC;
<where>
		<if test="searchKey != null and searchKey != ''">
			<choose>
				<otherwise>					
					${searchKey} LIKE CONCAT('%', #{searchValue}, '%')
				</otherwise>
			</choose>
		</if>
	</where>
	ORDER BY 
  inquiry_board_code ASC,
  SUBSTRING_INDEX(ib.inquiry_board_code, '_', 1) ASC;
</select>

<select id="getInquiryBoard" resultMap="adminInquiryBoard">
SELECT
   CAST(SUBSTRING_INDEX(ib.inquiry_board_code, '_', -1) AS SIGNED) AS inquiry_board_code,
  ib.member_id,
  ib.inquiry_board_title,
  ib.inquiry_board_content,
  ib.inquiry_board_reg_time
FROM
  inquiry_board AS ib
ORDER BY 
  inquiry_board_code ASC,
  SUBSTRING_INDEX(ib.inquiry_board_code, '_', 1) ASC;

</select>
</mapper>
