<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks49team01.admin.mapper.AdminCloseSchoolComparisonBranchMapper">


	<resultMap type="AdminCloseSchoolComparisonBranch" id="closeSchoolComparisonBranchMap">
		<id column="total_map" property="totalMap"/>
		<result column="close_school_code" property="closeSchoolCode"/>
		<result column="branch_code" property="branchCode"/>
		<result column="member_id" property="memberId"/>
		<result column="change_date" property="changeDate"/>
		<result column="first_date" property="firstDate"/>
		<result column="close_school_img" property="closeSchoolImg"/>
		<result column="branch_image" property="branchImage"/>
		<result column="view_map_img" property="viewMapImg"/>	
		
	</resultMap>

 	<select id="getAdminCloseSchoolComparisonBranchList" resultMap="closeSchoolComparisonBranchMap">
 		SELECT
 			cscb.total_map,
 			cs.close_school_code,
 			cscb.member_id,
 			bm.branch_code,
 			cscb.change_date,
 			cscb.first_date,
			cs.close_school_img,
			bm.branch_image,
			cs.view_map_img
		FROM
			close_school_comparison_branch AS cscb
			INNER JOIN
			close_school AS cs
			ON cscb.close_school_code = cs.close_school_code
			INNER JOIN
			branch_management AS bm
			ON cscb.branch_code = bm.branch_code;
 	</select>
</mapper>