<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks49team01.admin.mapper.AdminCloseSchoolComparisonBranchMapper">

	<resultMap type="AdminCloseSchoolComparisonBranch" id="closeSchoolComparisonBranchMap">
		<id column="total_map" property="totalMap"/>
		<result column="close_school_code" 		property="closeSchoolCode"/>
		<result column="member_id" 			property="memberId"/>
		<result column="close_school_area" 			property="closeSchoolArea"/>
		<result column="roadAddress" 			property="roadAddress"/>
		<result column="change_date" 		property="changeDate"/>
		<result column="first_date" 		property="firstDate"/>
		<result column="current_status" 		property="currentStatus"/>
		<result column="close_school_img" 		property="closeSchoolImg"/>
		<result column="close_school_area" 		property="closeSChoolArea"/>
		<result column="branch_current_situation" 		property="branchCurrenqtSituation"/>
		<result column="purchase_amount" 		property="purchaseAmount"/>
		<result column="system_registration_date" 		property="systemRegistrationDate"/>
		<result column="last_modified_date" 		property="lastModifiedDate"/>
		<result column="view_map_img" 		property="viewMapImg"/>
		<result column="branch_code" 		property="branchCode"/>
		<result column="branch_name" 		property="branchName"/>
		<result column="branch_addr" 		property="branchAddr"/>
		<result column="branch_phone" 		property="branchPhone"/>
		<result column="branch_representative" 		property="branchRepresentative"/>
		<result column="branch_start_date" 		property="branchStartDate"/>
		<result column="branch_end_date" 		property="branchEndDate"/>
		<result column="branch_image" 		property="branchImage"/>		
	</resultMap>
	
 	<select id="getAdminCloseSchoolComparisonBranch" resultMap="closeSchoolComparisonBranchMap">
 		SELECT
			cs.close_school_img,
			cs.view_map_img,
			bm.branch_image
		FROM
			close_school_comparison_branch AS cscb
			INNER JOIN
			close_school AS cs
			ON
			cscb.member_id = cs.member_id
			INNER JOIN
			branch_management AS bm
			ON
			cscb.branch_code = bm.branch_code;
 	</select>
</mapper>