<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{branch/layout/default}">
	  
	<!-- css file import head태그 안에 추가  -->
	<head>
		<!-- This Page CSS -->
	</head>
	
	<!-- This Page breadcrumbTitle -->
	<th:block layout:fragment="customBreadcrumbTitle">
		<h4 class="page-title text-truncate text-dark font-weight-medium mb-1">폐교 이미지 목록</h4>
	</th:block>
	
	<!-- This Page breadcrumb -->
	<th:block layout:fragment="customBreadcrumb">	
		<li class="breadcrumb-item">
			<a th:href="@{/}" class="text-muted">회원관리</a>
		</li>
		<li class="breadcrumb-item text-muted active" th:text="${page}">폐교 목록</li>
	</th:block>

	<!-- Start Page Content -->
	<th:block layout:fragment="customContent">
		<form id="getCloseSchool" method="post" th:action="@{/close_school_comparison_branch/close_school_comparison_branch_img_get}">
		    <table class="table">
				<thead>
		            <tr>
		                <th scope="col">폐교 이미지</th>
		                <th scope="col">가맹점 이미지</th>
                        <th scope="col">폐교 조감도 이미지</th>
		            </tr>
		        </thead>
		    	<tbody>
					<tr th:if="${getCloseSchoolComparisonBranch != null and not #lists.isEmpty(getCloseSchoolComparisonBranch)}"
						th:each="l : ${getCloseSchoolComparisonBranch}">
						<td th:text="${l.closeSchoolImg}"></td>
						<td th:text="${l.branchImage}"></td>
						<td th:text="${l.viewMapImg}"></td>
					</tr>
					<tr th:unless="${getCloseSchoolComparisonBranch != null and not #lists.isEmpty(getCloseSchoolComparisonBranch)}">
						<td colspan="9">등록된 가맹점이 없습니다.</td>
					</tr>
				</tbody>
			 </table>
		 </form>
	</th:block>
</html>
