<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	  
	<!-- css file import head태그 안에 추가  -->
	<head>
		<button type="button" class="btn waves-effect waves-light btn-dark"></button>
		<select class="form-control" id="exampleFormControlSelect1"></select>
		 <form class="mt-3"></form>
	</head>
	
	<!-- This Page breadcrumbTitle -->
	<th:block layout:fragment="customBreadcrumbTitle">
		<h4 class="page-title text-truncate text-dark font-weight-medium mb-1"></h4>
	</th:block>
	
	<!-- This Page breadcrumb -->
	<th:block layout:fragment="customBreadcrumb">	
		<li class="breadcrumb-item">
			<a th:href="@{/admin/room/roomInfoList}" class="text-muted">객실</a>
		</li>
		<li class="breadcrumb-item">
			<a th:href="@{#}" class="text-muted">객실정보수정</a>
		</li>
	</th:block>

	<!-- Start Page Content -->
	<th:block layout:fragment="customContent">
		<table class="table">
	        <thead>
	            <tr>	               
	                <th>객실명</th>
	                <th>객실크기</th>
	                <th>객실기본인원</th>
	                <th>객실최대인원</th>
	                <th>객실이용가능견종</th>
	                <th>객실기본가격</th>
	                <th>객실이미지</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr>
	            </tr>
	            <tr>
	                <td></td>
	                <td></td>
	                <td></td>
	                <td></td>
	                <td></td>
	                <td></td>
	                <td></td>
	            </tr>
	        </tbody>
	     </table>
	     <div style="float: right;">
	    	<a class="btn waves-effect waves-light btn-dark" th:href="@{/admin/room/roomInfo}">수정</a>
	    	<a class="btn waves-effect waves-light btn-dark" th:href="@{/admin/room/roomInfo}">취소</a>
	     </div>
	  </th:block>
</html>