<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	  
	<!-- css file import head태그 안에 추가  -->
	<head>
		<!-- This Page CSS -->
	</head>
	
	<!-- Start Page Content -->
	<th:block layout:fragment="customContents">
		<div class="product-info">
              <div class="tab-style3">
                  <ul class="nav nav-tabs text-uppercase">
                      <li class="nav-item">
                          <a class="nav-link active" id="Description-tab" data-bs-toggle="tab" href="#Description">Description</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" id="Additional-info-tab" data-bs-toggle="tab" href="#Additional-info">Additional info</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" id="Vendor-info-tab" data-bs-toggle="tab" href="#Vendor-info">Vendor</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" id="Reviews-tab" data-bs-toggle="tab" href="#Reviews">Reviews (3)</a>
                      </li>
                  </ul>
                  <div class="tab-content shop_info_tab entry-main-content">
                      <div class="tab-pane fade show active" id="Description">
                          <div class="">
                              <p>Uninhibited carnally hired played in whimpered dear gorilla koala depending and much yikes off far quetzal goodness and from for grimaced goodness unaccountably and meadowlark near unblushingly crucial scallop tightly neurotic hungrily some and dear furiously this apart.</p>
                              <p>Spluttered narrowly yikes left moth in yikes bowed this that grizzly much hello on spoon-fed that alas rethought much decently richly and wow against the frequent fluidly at formidable acceptably flapped besides and much circa far over the bucolically hey precarious goldfinch mastodon goodness gnashed a jellyfish and one however because.</p>
                              <ul class="product-more-infor mt-30">
                                  <li><span>Type Of Packing</span> Bottle</li>
                                  <li><span>Color</span> Green, Pink, Powder Blue, Purple</li>
                                  <li><span>Quantity Per Case</span> 100ml</li>
                                  <li><span>Ethyl Alcohol</span> 70%</li>
                                  <li><span>Piece In One</span> Carton</li>
                              </ul>
                              <hr class="wp-block-separator is-style-dots" />
                              <p>Laconic overheard dear woodchuck wow this outrageously taut beaver hey hello far meadowlark imitatively egregiously hugged that yikes minimally unanimous pouted flirtatiously as beaver beheld above forward energetic across this jeepers beneficently cockily less a the raucously that magic upheld far so the this where crud then below after jeez enchanting drunkenly more much wow callously irrespective limpet.</p>
                              <h4 class="mt-30">Packaging & Delivery</h4>
                              <hr class="wp-block-separator is-style-wide" />
                              <p>Less lion goodness that euphemistically robin expeditiously bluebird smugly scratched far while thus cackled sheepishly rigid after due one assenting regarding censorious while occasional or this more crane went more as this less much amid overhung anathematic because much held one exuberantly sheep goodness so where rat wry well concomitantly.</p>
                              <p>Scallop or far crud plain remarkably far by thus far iguana lewd precociously and and less rattlesnake contrary caustic wow this near alas and next and pled the yikes articulate about as less cackled dalmatian in much less well jeering for the thanks blindly sentimental whimpered less across objectively fanciful grimaced wildly some wow and rose jeepers outgrew lugubrious luridly irrationally attractively dachshund.</p>
                              <h4 class="mt-30">Suggested Use</h4>
                              <ul class="product-more-infor mt-30">
                                  <li>Refrigeration not necessary.</li>
                                  <li>Stir before serving</li>
                              </ul>
                              <h4 class="mt-30">Other Ingredients</h4>
                              <ul class="product-more-infor mt-30">
                                  <li>Organic raw pecans, organic raw cashews.</li>
                                  <li>This butter was produced using a LTG (Low Temperature Grinding) process</li>
                                  <li>Made in machinery that processes tree nuts but does not process peanuts, gluten, dairy or soy</li>
                              </ul>
                              <h4 class="mt-30">Warnings</h4>
                              <ul class="product-more-infor mt-30">
                                  <li>Oil separation occurs naturally. May contain pieces of shell.</li>
                              </ul>
                          </div>
                      </div>
                      <div class="tab-pane fade" id="Additional-info">
                          <table class="font-md">
                              <tbody>
                                  <tr class="stand-up">
                                      <th>Stand Up</th>
                                      <td>
                                          <p>35″L x 24″W x 37-45″H(front to back wheel)</p>
                                      </td>
                                  </tr>
                                  <tr class="folded-wo-wheels">
                                      <th>Folded (w/o wheels)</th>
                                      <td>
                                          <p>32.5″L x 18.5″W x 16.5″H</p>
                                      </td>
                                  </tr>
                                  <tr class="folded-w-wheels">
                                      <th>Folded (w/ wheels)</th>
                                      <td>
                                          <p>32.5″L x 24″W x 18.5″H</p>
                                      </td>
                                  </tr>
                                  <tr class="door-pass-through">
                                      <th>Door Pass Through</th>
                                      <td>
                                          <p>24</p>
                                      </td>
                                  </tr>
                                  <tr class="frame">
                                      <th>Frame</th>
                                      <td>
                                          <p>Aluminum</p>
                                      </td>
                                  </tr>
                                  <tr class="weight-wo-wheels">
                                      <th>Weight (w/o wheels)</th>
                                      <td>
                                          <p>20 LBS</p>
                                      </td>
                                  </tr>
                                  <tr class="weight-capacity">
                                      <th>Weight Capacity</th>
                                      <td>
                                          <p>60 LBS</p>
                                      </td>
                                  </tr>
                                  <tr class="width">
                                      <th>Width</th>
                                      <td>
                                          <p>24″</p>
                                      </td>
                                  </tr>
                                  <tr class="handle-height-ground-to-handle">
                                      <th>Handle height (ground to handle)</th>
                                      <td>
                                          <p>37-45″</p>
                                      </td>
                                  </tr>
                                  <tr class="wheels">
                                      <th>Wheels</th>
                                      <td>
                                          <p>12″ air / wide track slick tread</p>
                                      </td>
                                  </tr>
                                  <tr class="seat-back-height">
                                      <th>Seat back height</th>
                                      <td>
                                          <p>21.5″</p>
                                      </td>
                                  </tr>
                                  <tr class="head-room-inside-canopy">
                                      <th>Head room (inside canopy)</th>
                                      <td>
                                          <p>25″</p>
                                      </td>
                                  </tr>
                                  <tr class="pa_color">
                                      <th>Color</th>
                                      <td>
                                          <p>Black, Blue, Red, White</p>
                                      </td>
                                  </tr>
                                  <tr class="pa_size">
                                      <th>Size</th>
                                      <td>
                                          <p>M, S</p>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="tab-pane fade" id="Vendor-info">
                          <div class="vendor-logo d-flex mb-30">
                              <img src="assets/imgs/vendor/vendor-18.svg" alt="" />
                              <div class="vendor-name ml-15">
                                  <h6>
                                      <a href="vendor-details-2.html">Noodles Co.</a>
                                  </h6>
                                  <div class="product-rate-cover text-end">
                                      <div class="product-rate d-inline-block">
                                          <div class="product-rating" style="width: 90%"></div>
                                      </div>
                                      <span class="font-small ml-5 text-muted"> (32 reviews)</span>
                                  </div>
                              </div>
                          </div>
                          <ul class="contact-infor mb-50">
                              <li><img src="assets/imgs/theme/icons/icon-location.svg" alt="" /><strong>Address: </strong> <span>5171 W Campbell Ave undefined Kent, Utah 53127 United States</span></li>
                              <li><img src="assets/imgs/theme/icons/icon-contact.svg" alt="" /><strong>Contact Seller:</strong><span>(+91) - 540-025-553</span></li>
                          </ul>
                          <div class="d-flex mb-55">
                              <div class="mr-30">
                                  <p class="text-brand font-xs">Rating</p>
                                  <h4 class="mb-0">92%</h4>
                              </div>
                              <div class="mr-30">
                                  <p class="text-brand font-xs">Ship on time</p>
                                  <h4 class="mb-0">100%</h4>
                              </div>
                              <div>
                                  <p class="text-brand font-xs">Chat response</p>
                                  <h4 class="mb-0">89%</h4>
                              </div>
                          </div>
                          <p>
                              Noodles & Company is an American fast-casual restaurant that offers international and American noodle dishes and pasta in addition to soups and salads. Noodles & Company was founded in 1995 by Aaron Kennedy and is headquartered in Broomfield, Colorado. The company went public in 2013 and recorded a $457 million revenue in 2017.In late 2018, there were 460 Noodles & Company locations across 29 states and Washington, D.C.
                          </p>
                      </div>
                      <div class="tab-pane fade" id="Reviews">
                          <!--Comments-->
                          <div class="comments-area">
                              <div class="row">
                                 <div class="loop-grid loop-list pr-30 mb-50">
		                <article class="wow fadeIn animated hover-up mb-30 animated">
		                    <div class="post-thumb" style="background-image: url(assets/imgs/blog/blog-1.png)">
		                        <div class="entry-meta">
		                            <a class="entry-meta meta-2" href="blog-category-grid.html"><i class="fi-rs-play-alt"></i></a>
		                        </div>
		                    </div>
		                    <div class="entry-content-2 pl-50">
		                        <h3 class="post-title mb-20">
		                            <a href="blog-post-right.html">9 Tasty Ideas That Will Inspire You to Grow a Home Herb Garden Today</a>
		                        </h3>
		                        <p class="post-exerpt mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		                        <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
		                            <div>
		                                <span class="post-on">25 April 2022</span>
		                                <span class="hit-count has-dot">126k Views</span>
		                            </div>
		                            <a href="blog-post-right.html" class="text-brand font-heading font-weight-bold">Read more <i class="fi-rs-arrow-right"></i></a>
		                        </div>
		                    </div>
		                </article>
		                <article class="wow fadeIn animated hover-up mb-30 animated">
		                    <div class="post-thumb" style="background-image: url(assets/imgs/blog/blog-2.png)"></div>
		                    <div class="entry-content-2 pl-50">
		                        <h3 class="post-title mb-20">
		                            <a href="blog-post-right.html">The Easy Italian Chicken Dinner I Make Over and Over Again</a>
		                        </h3>
		                        <p class="post-exerpt mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		                        <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
		                            <div>
		                                <span class="post-on">25 April 2022</span>
		                                <span class="hit-count has-dot">126k Views</span>
		                            </div>
		                            <a href="blog-post-right.html" class="text-brand font-heading font-weight-bold">Read more <i class="fi-rs-arrow-right"></i></a>
		                        </div>
		                    </div>
		                </article>
		                <article class="wow fadeIn animated hover-up mb-30 animated">
		                    <div class="post-thumb" style="background-image: url(assets/imgs/blog/blog-3.png)">
		                        <div class="entry-meta">
		                            <a class="entry-meta meta-2" href="blog-category-grid.html"><i class="fi-rs-picture"></i></a>
		                        </div>
		                    </div>
		                    <div class="entry-content-2 pl-50">
		                        <h3 class="post-title mb-20">
		                            <a href="blog-post-right.html">I Tried 38 Different Bottles of Mustard — These Are the Ones I’ll Buy Again</a>
		                        </h3>
		                        <p class="post-exerpt mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		                        <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
		                            <div>
		                                <span class="post-on">25 April 2022</span>
		                                <span class="hit-count has-dot">126k Views</span>
		                            </div>
		                            <a href="blog-post-right.html" class="text-brand font-heading font-weight-bold">Read more <i class="fi-rs-arrow-right"></i></a>
		                        </div>
		                    </div>
		                </article>
		                <article class="wow fadeIn animated hover-up mb-30 animated">
		                    <div class="post-thumb" style="background-image: url(assets/imgs/blog/blog-4.png)">
		                        <div class="entry-meta">
		                            <a class="entry-meta meta-2" href="blog-category-grid.html"><i class="fi-rs-play-alt"></i></a>
		                        </div>
		                    </div>
		                    <div class="entry-content-2 pl-50">
		                        <h3 class="post-title mb-20">
		                            <a href="blog-post-right.html">How I Prep a Week of Absolutely Simple Summer Meals in Just 1 Hour</a>
		                        </h3>
		                        <p class="post-exerpt mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		                        <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
		                            <div>
		                                <span class="post-on">25 April 2022</span>
		                                <span class="hit-count has-dot">126k Views</span>
		                            </div>
		                            <a href="blog-post-right.html" class="text-brand font-heading font-weight-bold">Read more <i class="fi-rs-arrow-right"></i></a>
		                        </div>
		                    </div>
		                </article>
		                <article class="wow fadeIn animated hover-up mb-30 animated">
		                    <div class="post-thumb" style="background-image: url(assets/imgs/blog/blog-5.png)">
		                        <div class="entry-meta">
		                            <a class="entry-meta meta-2" href="blog-category-grid.html"><i class="fi-rs-heart"></i></a>
		                        </div>
		                    </div>
		                    <div class="entry-content-2 pl-50">
		                        <h3 class="post-title mb-20">
		                            <a href="blog-post-right.html">Jenny Rosenstrach Has a Game Plan for the Weekday Vegetarian</a>
		                        </h3>
		                        <p class="post-exerpt mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		                        <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
		                            <div>
		                                <span class="post-on">25 April 2022</span>
		                                <span class="hit-count has-dot">126k Views</span>
		                            </div>
		                            <a href="blog-post-right.html" class="text-brand font-heading font-weight-bold">Read more <i class="fi-rs-arrow-right"></i></a>
		                        </div>
		                    </div>
		                </article>
		                <article class="wow fadeIn animated hover-up mb-30 animated">
		                    <div class="post-thumb" style="background-image: url(assets/imgs/blog/blog-6.png)"></div>
		                    <div class="entry-content-2 pl-50">
		                        <h3 class="post-title mb-20">
		                            <a href="blog-post-right.html">Prime Day Is Here and These Are the Best Kitchen Deals to Shop ASAP</a>
		                        </h3>
		                        <p class="post-exerpt mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		                        <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
		                            <div>
		                                <span class="post-on">25 April 2022</span>
		                                <span class="hit-count has-dot">126k Views</span>
		                            </div>
		                            <a href="blog-post-right.html" class="text-brand font-heading font-weight-bold">Read more <i class="fi-rs-arrow-right"></i></a>
		                        </div>
		                    </div>
		                </article>
		                <article class="wow fadeIn animated hover-up mb-30 animated">
		                    <div class="post-thumb" style="background-image: url(assets/imgs/blog/blog-1.png)"></div>
		                    <div class="entry-content-2 pl-50">
		                        <h3 class="post-title mb-20">
		                            <a href="blog-post-right.html">9 Tasty Ideas That Will Inspire You to Grow a Home Herb Garden Today</a>
		                        </h3>
		                        <p class="post-exerpt mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		                        <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
		                            <div>
		                                <span class="post-on">25 April 2022</span>
		                                <span class="hit-count has-dot">126k Views</span>
		                            </div>
		                            <a href="blog-post-right.html" class="text-brand font-heading font-weight-bold">Read more <i class="fi-rs-arrow-right"></i></a>
		                        </div>
		                    </div>
		                </article>
		                <article class="wow fadeIn animated hover-up mb-30 animated">
		                    <div class="post-thumb" style="background-image: url(assets/imgs/blog/blog-7.png)">
		                        <div class="entry-meta">
		                            <a class="entry-meta meta-2" href="blog-category-grid.html"><i class="fi-rs-headset"></i></a>
		                        </div>
		                    </div>
		                    <div class="entry-content-2 pl-50">
		                        <h3 class="post-title mb-20">
		                            <a href="blog-post-right.html">How I Prep a Week of Absolutely Simple Summer Meals in Just 1 Hour</a>
		                        </h3>
		                        <p class="post-exerpt mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		                        <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
		                            <div>
		                                <span class="post-on">25 April 2022</span>
		                                <span class="hit-count has-dot">126k Views</span>
		                            </div>
		                            <a href="blog-post-right.html" class="text-brand font-heading font-weight-bold">Read more <i class="fi-rs-arrow-right"></i></a>
		                        </div>
		                    </div>
		                </article>
		            </div>   
	            </div>
                                  <div class="col-lg-4">
                                      <h4 class="mb-30">Customer reviews</h4>
                                      <div class="d-flex mb-30">
                                          <div class="product-rate d-inline-block mr-15">
                                              <div class="product-rating" style="width: 90%"></div>
                                          </div>
                                          <h6>4.8 out of 5</h6>
                                      </div>
                                      <div class="progress">
                                          <span>5 star</span>
                                          <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                                      </div>
                                      <div class="progress">
                                          <span>4 star</span>
                                          <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                      </div>
                                      <div class="progress">
                                          <span>3 star</span>
                                          <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                                      </div>
                                      <div class="progress">
                                          <span>2 star</span>
                                          <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                                      </div>
                                      <div class="progress mb-30">
                                          <span>1 star</span>
                                          <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                                      </div>
                                      <a href="#" class="font-xs text-muted">How are ratings calculated?</a>
                                  </div>
                              </div>
                          </div>
                          <!--comment form-->
                          <div class="comment-form">
                              <h4 class="mb-15">Add a review</h4>
                              <div class="product-rate d-inline-block mb-30"></div>
                              <div class="row">
                                  <div class="col-lg-8 col-md-12">
                                      <form class="form-contact comment_form" action="#" id="commentForm">
                                          <div class="row">
                                              <div class="col-12">
                                                  <div class="form-group">
                                                      <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9" placeholder="Write Comment"></textarea>
                                                  </div>
                                              </div>
                                              <div class="col-sm-6">
                                                  <div class="form-group">
                                                      <input class="form-control" name="name" id="name" type="text" placeholder="Name" />
                                                  </div>
                                              </div>
                                              <div class="col-sm-6">
                                                  <div class="form-group">
                                                      <input class="form-control" name="email" id="email" type="email" placeholder="Email" />
                                                  </div>
                                              </div>
                                              <div class="col-12">
                                                  <div class="form-group">
                                                      <input class="form-control" name="website" id="website" type="text" placeholder="Website" />
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <button type="submit" class="button button-contactForm">Submit Review</button>
                                          </div>
                                      </form>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
	</th:block>
</html>









