<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	  
	<!-- css file import head태그 안에 추가  -->
	<head>
		<!-- This Page CSS -->
	</head>
	
	<!-- Start Page Content -->
	<th:block layout:fragment="customContents">
      <div class="page-header breadcrumb-wrap">
         <div class="container">
             <div class="breadcrumb">
                 <a th:href="@{/user}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                 <span></span> <a th:href="@{/user/review/getReview}">리뷰</a> <span></span>리뷰자세히보기
         	</div>
      	 </div>
      </div>
   	  <div class="page-content mb-50">
           <div class="container">
               <div class="row">
                   <div class="col-lg-9 m-auto">
                   	<div class="comment-form">
                   		<h3 class="mb-25">리뷰 자세히보기</h3>
                   		<div class="product-rate d-inline-block mb-30"></div>
							<form class="tab-style3">
     							<h5 class="section-title style-1 mb-30">카테고리 선택</h5>
			                	<ol class="nav nav-tabs text-uppercase">
			                       <li class="nav-item">
			                           <a class="nav-link active" id="Description-tab" data-bs-toggle="tab" href="#Description">시설</a>
			                       </li>
			                       <li class="nav-item">
			                           <a class="nav-link" id="Additional-info-tab" data-bs-toggle="tab" href="#Additional-info">분위기</a>
			                       </li>
		                   		</ol>
	       					   	<div class="tab-content shop_info_tab entry-main-content">
	               					<div class="tab-pane fade show active" id="Description">
			                            <ul class="tags-list">
				                            <li class="hover-up" >
				                               <a href="#">숙소가 깨끗해요 ✨</a>
				                            </li>
				              				<li class="hover-up">
				                               <a href="#">온수가 잘나와요 💦</a>
				                            </li>
				                            <li class="hover-up">
				                               <a href="#">침구가 좋아요 👍</a>
				                            </li>
				                            <li class="hover-up mr-0">
				                               <a href="#">방음이 잘돼요 💤</a>
				                            </li>
				                            <li class="hover-up">
				                               <a href="#">벌레 걱정 없어요 🦟❌</a>
				                            </li>
			                      		</ul>
	               					</div>
			                        <div class="tab-pane fade" id="Additional-info">
			                           <ul class="tags-list">
				                           <li class="hover-up">
				                               <a href="#">사진이 잘 나와요 📸</a>
				                           </li>
				              				<li class="hover-up">
				                               <a href="#">뷰가 좋아요 🌅</a>
				                           </li>
				                           <li class="hover-up">
				                               <a href="#">조용히 쉬기 좋아요 🌳</a>
				                           </li>
				                           <li class="hover-up mr-0">
				                               <a href="#">인테리어가 멋져요 ❗</a>
				                           </li>
				                           <li class="hover-up">
				                               <a href="#">친절해요 😄</a>
				                           </li>
			                       	   </ul>
			                       </div>
	                       		</div>
		        			</form>
		    		</div>               
                  </div>
               </div>
           </div>
       </div>
	</th:block>

	<th:block layout:fragment="customJs">
	<script th:inline="javascript">	
	
	
	
	
	</script>
	</th:block>
	
	
	
</html>









