<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	  
	<!-- css file import head태그 안에 추가  -->
	<head>
		<!-- This Page CSS -->
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
		
		<style>
			.detail-info .product-price .current-price {
			    font-size: 40px !important;
			}
			.detail-info h2 {
			    font-size: 50px !important;
			}
			
		</style>
	</head>
	
	<!-- Start Page Content -->
	<th:block layout:fragment="customContents">
    <div class="page-header breadcrumb-wrap">
       <div class="container">
           <div class="breadcrumb">
               <a th:href="@{/user}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
               <span></span> <a th:href="@{/user/review/getReview}">리뷰</a> <span></span>
           </div>
       </div>
    </div>
    <div class="container mb-30" >
    	<div class="row">
       		<div class="col-xl-10 col-lg-12 m-auto">
				<div class="card mb-4">
				<header class="card-header">
                    <a th:href="@{/user/review/addReview}" class="btn btn-md rounded font-sm" style="float: right;">리뷰 등록</a>
					    <div class="row gx-3">
					        <div class="col-lg-2 col-md-3 col-6">
					            <select class="form-select">
					                <option>일반</option>
					                <option>최신순</option>
					                <option>댓글많은순</option>
					            </select>
					        </div>
					    </div>
				</header>
				<!-- card-header end// -->
				<div class="card-body">
				    <div>
				        <table class="table table-hover">
				            <thead>
				                <tr>
				                    <th style="width: 1%">No</th>
									<th style="width: 7%">아이디</th>
									<th style="width: 50%">내용</th>
									<th style="width: 7%">가맹점명</th>
									<th style="width: 7%">객실명</th>
									<th style="width: 7%">등록일자</th>
									<th style="width: 7%">조회수</th>
									<th style="width: 8%">자세히 보기</th>
				            	</tr>
				        </thead>
				        <tbody>
				            <tr th:if="${userReviewList != null and not #lists.isEmpty(userReviewList)}"
				            	th:each="l : ${userReviewList}">
				                <td th:text="${l.reviewListNum}"></td>
				                <td th:text="${l.memberId}"></td>
				                <td th:text="${l.reviewContext}"></td>
				                <td th:text="${l.branchName}"></td>
				                <td th:text="${l.roomName}"></td>
				                <td th:text="${l.reviewDate}"></td>
				                <td th:text="${l.reviewViews}"></td>
				                <td class="text-end">
				                    <a th:href="@{/user/review/getReviewDetail}" class="btn btn-md rounded font-sm">Detail</a>
				                </td>
				            </tr>
				        </tbody>
				        	<tr th:unless="$(not #lists.isEmpty(userReviewList))">
				        		<td colspan="8" style="text-align: center;"> 등록된 리뷰가 업습니다.</td>
				        	</tr>
				   		</table>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
	</th:block>
	
	<!-- This Page JS -->
    <th:block layout:fragment="customJsFile">
    	<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    	<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    </th:block>
    <!-- This Page JS Script -->
    <th:block layout:fragment="customJs">
    	<script>
    	 	$('input[name="daterange"]').daterangepicker();
    	</script>
    </th:block>
</html>








