<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	  
	<!-- css file import head태그 안에 추가  -->
	<head>
		<!-- This Page CSS -->
	</head>
	
	<!-- This Page breadcrumbTitle -->
	<th:block layout:fragment="customBreadcrumbTitle">
		<h4 class="page-title text-truncate text-dark font-weight-medium mb-1">리뷰댓글관리</h4>
	</th:block>
	
	<!-- This Page breadcrumb -->
	<th:block layout:fragment="customBreadcrumb">	
		<li class="breadcrumb-item">
			<a th:href="@{/}" class="text-muted">리뷰댓글</a>
		</li>
		<li class="breadcrumb-item">
			<a th:href="@{#}" class="text-muted">조회하기</a>
		</li>
	</th:block>
	
	<!-- Start Page Content -->
	<th:block layout:fragment="customContent">	
			<table class="table">
			 <thead>
	            <tr>
	                <th scope="col">댓글코드</th>
	                <th scope="col">회원 아이디</th>
	                <th scope="col">리뷰 (글 순서 번호)</th>
	                <th scope="col">댓글번호</th>
	                <th scope="col">내용</th>
	                <th scope="col">작성자 이름</th>
	                <th scope="col">리뷰 댓글 작성 시간</th>
	                <th scope="col">수정</th>
	                <th scope="col">삭제</th>                                                                                                                                            
	            </tr>
	         </thead>
	         <tbody>
	            <tr th:if="${adminReviewReply != null and not #lists.isEmpty(adminReviewReply)}"
	            	th:each="l : ${adminReviewReply}">
	                <td th:text="${l.replyCode}"></td>
	                <td th:text="${l.memberId}"></td>
	                <td th:text="${l.reviewNum}"></td>
	                <td th:text="${l.reviewReplyNum}"></td>
	                <td th:text="${l.reviewReplyContext}"></td>
	                <td th:text="${l.reviewReplyName}"></td>
	                <td th:text="${l.reviewReplyRegisterTime}"></td>
	                <td class="addList">
	                	<a th:href="@{/admin/review/modifyReviewReply}">수정</a>
	                </td>
	                <td>
	                	<a th:href="@{/admin/review/removeReviewReply}">삭제</a>
	                </td>
	            </tr>
				<tr th:unless="${adminReviewReply != null and not #lists.isEmpty(adminReviewReply)}">
					<td colspan="9">등록된 리뷰댓글이 없습니다.</td>
				</tr>                            
              </tbody>
            </table>
	</th:block>
</html>










