<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	  
	<!-- css file import head태그 안에 추가  -->
	<head>
		<button type="button" class="btn waves-effect waves-light btn-dark"></button>
	</head>
	
	<!-- This Page breadcrumbTitle -->
	<th:block layout:fragment="customBreadcrumbTitle">
		<h4 class="page-title text-truncate text-dark font-weight-medium mb-1"></h4>
	</th:block>
	
	<!-- This Page breadcrumb -->
	<th:block layout:fragment="customBreadcrumb">	
		<li class="breadcrumb-item">
			<a th:href="@{/}" class="text-muted">시즌추가금</a>
		</li>
		<li class="breadcrumb-item">
			<a th:href="@{/admin/room/surchargeList}" class="text-muted">시즌추가금목록조회</a>
		</li>
		<li class="breadcrumb-item text-muted active" aria-current="page" >가맹점명</li>
	</th:block>

	<!-- Start Page Content -->
	<th:block layout:fragment="customContent">
		<table class="table">
	        <thead>
	            <tr>
	                <th scope="col">매장명</th>
	                <th scope="col">객실명</th>
	                <th scope="col">객실크기</th>
	                <th scope="col">객실기본인원</th>
	                <th scope="col">객실최대인원</th>
	                <th scope="col">객실이용가능견종</th>
	                <th scope="col">객실기본가격</th>
	                <th scope="col">객실등록일자</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr>
	                <th scope="row"></th>
	                <td></td>
	                <td></td>
	                <td></td>
	                <td></td>
	                <td></td>
	                <td>
	    				<a th:href="@{/admin/room/addRoomInfo}">수정</a>
	                </td>
	                <td>
	    				<a th:href="@{/admin/room/removeRoomInfo}">삭제</a>
	                </td>
	            </tr>
	            <tr>
	                <th scope="row"></th>
	                <td></td>
	                <td></td>
	                <td></td>
	                <td></td>
	                <td></td>
	                <td></td>
	                <td></td>
	                <td></td>
	            </tr>
	            <tr>
	                <th scope="row"></th>
	                <td></td>
	                <td></td>
	                <td></td>
	                <td></td>
	                <td></td>
	                <td></td>
	                <td></td>
	                <td></td>
	            </tr>
	        </tbody>
	     </table>
	     <div style="float: right;">
	    		<a class="btn waves-effect waves-light btn-dark" th:href="@{/admin/room/addSurchargeList}">객실등록</a>
	     </div>
	  </th:block>
</html>