<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	  
	<!-- css file import head태그 안에 추가  -->
	<head>
	</head>
	
	<!-- This Page breadcrumbTitle -->
	<th:block layout:fragment="customBreadcrumbTitle">
		<h4 class="page-title text-truncate text-dark font-weight-medium mb-1">객실옵션조회</h4>
	</th:block>
	
	<!-- This Page breadcrumb -->
	<th:block layout:fragment="customBreadcrumb">	
		<li class="breadcrumb-item">
			<a th:href="@{#}" class="text-muted">객실옵션</a>
		</li>
		<li class="breadcrumb-item">
			<a th:href="@{/admin/option/roomOptionList}" class="text-muted">객실옵션조회</a>
		</li>
	</th:block>

	<!-- Start Page Content -->
	<th:block layout:fragment="customContent">
		<table class="table">
	        <thead>
	            <tr>
	                <th>옵션 및 부가서비스</th>
	                <th>옵션 및 부가서비스 명</th>
	                <th>가격</th>
	                <th>등록날짜</th>
	                <th>등록인아이디</th>              
	                <th>수정</th>           
	                <th>삭제</th>           
	            </tr>
	        </thead>
	        <tbody>
	            <tr th:if="${optionList != null and not #lists.isEmpty(optionList)}"
	            	th:each="o : ${optionList}">
	                <td th:text="${o.roomOptionCate}"></td>
	                <td th:text="${o.roomOptionName}"></td>
	                <td th:text="${o.roomOptionPrice}"></td>
	                <td th:text="${o.roomOptionRegistrationId}"></td>
	                <td th:text="${o.roomOptionRegistrationDate}"></td>
	                <td>
	    				<a th:href="@{/admin/option/modifyRoomOption}">수정</a>
	                </td>
	                <td>
	    				<a th:href="@{/admin/option/removeRoomOption}">삭제</a>
	                </td>
	            </tr>
	            <tr th:unless="${optionList != null and not #lists.isEmpty(optionList)}">
					<td colspan="5">조회된 리스트가 없습니다</td>
				</tr>
	        </tbody>
	     </table>
	     <div style="float: right;">
	    	<a class="btn waves-effect waves-light btn-dark" th:href="@{/admin/option/addRoomOption}">추가</a>
	     </div>
	  </th:block>
</html>